(
  states: [
    (
      tile_type: Fill,
      permitted_self: [
        Empty,
        ForestPathTop,
        ForestPathRight,
        ForestPathBottom,
        ForestPathLeft,
        ForestPathCross,
        ForestPathHorizontal,
        ForestPathHorizontalSandRight,
        ForestPathHorizontalSandLeft,
        ForestPathHorizontalGrassRight,
        ForestPathHorizontalGrassLeft,
        ForestPathVertical,
        ForestPathVerticalSandTop,
        ForestPathVerticalSandBottom,
        ForestPathVerticalGrassTop,
        ForestPathVerticalGrassBottom,
        GrassPathTop,
        GrassPathRight,
        GrassPathBottom,
        GrassPathLeft,
        GrassPathCross,
        GrassPathHorizontal,
        GrassPathHorizontalSandRight,
        GrassPathHorizontalSandLeft,
        GrassPathHorizontalForestRight,
        GrassPathHorizontalForestLeft,
        GrassPathVertical,
        GrassPathVerticalSandTop,
        GrassPathVerticalSandBottom,
        GrassPathVerticalForestTop,
        GrassPathVerticalForestBottom,
        SandPathTop,
        SandPathRight,
        SandPathBottom,
        SandPathLeft,
        SandPathCross,
        SandPathHorizontal,
        SandPathHorizontalForestRight,
        SandPathHorizontalForestLeft,
        SandPathHorizontalGrassRight,
        SandPathHorizontalGrassLeft,
        SandPathVertical,
        SandPathVerticalForestTop,
        SandPathVerticalForestBottom,
        SandPathVerticalGrassTop,
        SandPathVerticalGrassBottom,
        SandStone1,
        SandStone2,
        SandStone3,
        SandStone4,
        SandStone5,
        SandStone6,
        SandGrassPatch1,
        SandGrassPatch2,
        SandPattern1,
        SandPattern2,
        SandPattern3,
        SandPattern4,
        ForestTree1,
        ForestTree2,
        ForestTree3,
        ForestTree4,
        ForestTree5,
      ]
    ),
    (
      tile_type: InnerCornerTopRight,
      permitted_self: [ Empty, ]
    ),
    (
      tile_type: InnerCornerBottomRight,
      permitted_self: [ Empty, ]
    ),
    (
      tile_type: InnerCornerTopLeft,
      permitted_self: [ Empty, ]
    ),
    (
      tile_type: InnerCornerBottomLeft,
      permitted_self: [ Empty, ]
    ),
    (
      tile_type: OuterCornerTopRight,
      permitted_self: [ Empty, ]
    ),
    (
      tile_type: OuterCornerBottomRight,
      permitted_self: [ Empty, ]
    ),
    (
      tile_type: OuterCornerTopLeft,
      permitted_self: [ Empty, ]
    ),
    (
      tile_type: OuterCornerBottomLeft,
      permitted_self: [ Empty, ]
    ),
    (
      tile_type: TopLeftToBottomRightBridge,
      permitted_self: [ Empty, ]
    ),
    (
      tile_type: TopRightToBottomLeftBridge,
      permitted_self: [ Empty, ]
    ),
    (
      tile_type: TopFill,
      permitted_self: [
        Empty,
        SandPathVerticalForestTop,
        SandPathVerticalForestBottom,
        SandPathVerticalGrassTop,
        SandPathVerticalGrassBottom,
        GrassPathVerticalSandTop,
        GrassPathVerticalSandBottom,
        GrassPathVerticalForestTop,
        GrassPathVerticalForestBottom,
        ForestPathVerticalSandTop, 
        ForestPathVerticalSandBottom,
        ForestPathVerticalGrassTop,
        ForestPathVerticalGrassBottom,
      ]
    ),
    (
      tile_type: RightFill,
      permitted_self: [
        Empty,
        SandPathHorizontalForestRight,
        SandPathHorizontalForestLeft,
        SandPathHorizontalGrassRight,
        SandPathHorizontalGrassLeft,
        GrassPathHorizontalSandRight,
        GrassPathHorizontalSandLeft,
        GrassPathHorizontalForestRight,
        GrassPathHorizontalForestLeft,
        ForestPathHorizontalSandRight, 
        ForestPathHorizontalSandLeft,
        ForestPathHorizontalGrassRight,
        ForestPathHorizontalGrassLeft,
      ]
    ),
    (
      tile_type: BottomFill,
      permitted_self: [
        Empty,
        ForestPathVerticalSandTop, 
        ForestPathVerticalSandBottom,
        ForestPathVerticalGrassTop,
        ForestPathVerticalGrassBottom,
        GrassPathVerticalSandTop,
        GrassPathVerticalSandBottom,
        GrassPathVerticalForestTop,
        GrassPathVerticalForestBottom,
        SandPathVerticalForestTop,
        SandPathVerticalForestBottom,
        SandPathVerticalGrassTop,
        SandPathVerticalGrassBottom,
      ]
    ),
    (
      tile_type: LeftFill,
      permitted_self: [
        Empty,
        SandPathHorizontalForestRight,
        SandPathHorizontalForestLeft,
        SandPathHorizontalGrassRight,
        SandPathHorizontalGrassLeft,
        GrassPathHorizontalSandRight,
        GrassPathHorizontalSandLeft,
        GrassPathHorizontalForestRight,
        GrassPathHorizontalForestLeft,
        ForestPathHorizontalSandRight, 
        ForestPathHorizontalSandLeft,
        ForestPathHorizontalGrassRight,
        ForestPathHorizontalGrassLeft,
      ]
    ),
    (
      tile_type: Single,
      permitted_self: [ Empty, ]
    ),
  ]
)