(
  states: [
    (
      tile_type: Fill,
      permitted_self: [
        Empty,
        Land3RuinTop,
        Land3RuinRight,
        Land3RuinBottom,
        Land3RuinLeft,
        Land3RuinCross,
        Land3RuinHorizontal,
        Land3RuinHorizontalLand2Right,
        Land3RuinHorizontalLand2Left,
        Land3RuinVertical,
        Land3RuinVerticalLand2Top,
        Land3RuinVerticalLand2Bottom,
        Land2RubbleTop,
        Land2RubbleRight,
        Land2RubbleBottom,
        Land2RubbleLeft,
        Land2RubbleCross,
        Land2RubbleHorizontal,
        Land2RubbleHorizontalLand3Right,
        Land2RubbleHorizontalLand3Left,
        Land2RubbleVertical,
        Land2RubbleVerticalLand3Top,
        Land2RubbleVerticalLand3Bottom,
        Land2IndividualObject1,
        Land2IndividualObject2,
        Land2IndividualObject3,
        Land2IndividualObject4,
        Land2IndividualObject5,
        Land2IndividualObject6,
        Land2IndividualObject7,
        Land1PathTop,
        Land1PathRight,
        Land1PathBottom,
        Land1PathLeft,
        Land1PathCross,
        Land1PathVertical,
        Land1PathHorizontal,
        Land1Stone1,
        Land1Stone2,
        Land1Stone3,
        Land1Stone4,
        Land1Stone5,
        Land1Stone6,
        Land1IndividualObject1,
        Land1IndividualObject2,
        Land1ConnectedObjectLeft,
        Land1ConnectedObjectMiddle,
        Land1ConnectedObjectRight,
        Land1IndividualObject3,
        Land1IndividualObject4,
        Land3Tree1,
        Land3Tree2,
        Land3Tree3,
        Land3Tree4,
        Land3Tree5,
        Land3IndividualObject1,
        Land3IndividualObject2,
        Land3IndividualObject3,
        Land3IndividualObject4,
        Land3IndividualObject5,
        Land3IndividualObject6,
        SwampInnerCornerBottomRight,
        SwampInnerCornerTopRight,
        SwampInnerCornerBottomLeft,
        SwampInnerCornerTopLeft,
        SwampOuterCornerTopLeft,
        SwampOuterCornerBottomLeft,
        SwampOuterCornerTopRight,
        SwampOuterCornerBottomRight,
        SwampBottomFill,
        SwampTopFill,
        SwampLeftFill,
        SwampRightFill,
        SwampFill,
      ]
    ),
    (
      tile_type: InnerCornerTopRight,
      permitted_self: [ Empty, Land1StoneTopRightFill, ]
    ),
    (
      tile_type: InnerCornerBottomRight,
      permitted_self: [ Empty, Land1StoneBottomRightFill, ]
    ),
    (
      tile_type: InnerCornerBottomLeft,
      permitted_self: [ Empty, Land1StoneBottomLeftFill, ]
    ),
    (
      tile_type: InnerCornerTopLeft,
      permitted_self: [ Empty, Land1StoneTopLeftFill, ]
    ),
    (
      tile_type: OuterCornerTopRight,
      permitted_self: [ Empty, Land1StoneBottomLeftFill, ]
    ),
    (
      tile_type: OuterCornerBottomRight,
      permitted_self: [ Empty, ]
    ),
    (
      tile_type: OuterCornerTopLeft,
      permitted_self: [ Empty, Land1StoneBottomRightFill, ]
    ),
    (
      tile_type: OuterCornerBottomLeft,
      permitted_self: [ Empty, ]
    ),
    (
      tile_type: TopLeftToBottomRightBridge,
      permitted_self: [ Empty, ]
    ),
    (
      tile_type: TopRightToBottomLeftBridge,
      permitted_self: [ Empty, ]
    ),
    (
      tile_type: TopFill,
      permitted_self: [
        Empty,
        Land2RubbleVerticalLand3Top,
        Land2RubbleVerticalLand3Bottom,
        Land3RuinVerticalLand2Top,
        Land3RuinVerticalLand2Bottom,
        Land1StoneTopFill1,
        Land1StoneTopFill2,
      ]
    ),
    (
      tile_type: RightFill,
      permitted_self: [
        Empty,
        Land2RubbleHorizontalLand3Right,
        Land2RubbleHorizontalLand3Left,
        Land3RuinHorizontalLand2Right,
        Land3RuinHorizontalLand2Left,
        Land1StoneRightFill,
      ]
    ),
    (
      tile_type: BottomFill,
      permitted_self: [
        Empty,
        Land3RuinVerticalLand2Top,
        Land3RuinVerticalLand2Bottom,
        Land2RubbleVerticalLand3Top,
        Land2RubbleVerticalLand3Bottom,
      ]
    ),
    (
      tile_type: LeftFill,
      permitted_self: [
        Empty,
        Land2RubbleHorizontalLand3Right,
        Land2RubbleHorizontalLand3Left,
        Land3RuinHorizontalLand2Right,
        Land3RuinHorizontalLand2Left,
        Land1StoneLeftFill,
      ]
    ),
    (
      tile_type: Single,
      permitted_self: [
        Empty,
      ]
    ),
  ]
)