(
  terrain: Any,
  states: [
    (
      index: 0,
      name: Empty,
      weight: 100,
      permitted_neighbours: [
        (
          Top,
          [
            Empty,
            ForestRuinTop,
            ForestRuinRight,
            ForestRuinLeft,
            ForestRuinHorizontal,
            ForestRuinHorizontalGrassRight,
            ForestRuinHorizontalGrassLeft,
            GrassRubbleTop,
            GrassRubbleRight,
            GrassRubbleLeft,
            GrassRubbleHorizontal,
            GrassRubbleHorizontalForestRight,
            GrassRubbleHorizontalForestLeft,
            GrassBush1,
            GrassBush2,
            GrassBush3,
            GrassBush4,
            GrassFlower1,
            GrassFlower2,
            GrassFlower3,
            SandPathTop,
            SandPathRight,
            SandPathLeft,
            SandStoneTopFill1,
            SandStoneTopFill2,
            SandStoneTopRightFill,
            SandStoneTopLeftFill,
            SandStoneRightFill,
            SandStoneLeftFill,
            SandStoneBottomRightFill,
            SandStoneBottomLeftFill,
            SandStone1,
            SandStone2,
            SandStone3,
            SandStone4,
            SandStone5,
            SandStone6,
            SandGrassPatch1,
            SandGrassPatch2,
            SandPattern1,
            SandPattern2,
            SandPattern3,
            SandPattern4,
            ForestTree1,
            ForestTree2,
            ForestTree3,
            ForestTree4,
            ForestTree5,
            ForestBush1,
            ForestBush2,
            ForestBush3,
            ForestBush4,
            PathRight,
            PathHorizontal,
            PathTop,
            PathLeft,
            PathTopRight,
            PathTopLeft,
            PathTopHorizontal,
          ]
        ),
        (
          Left,
          [
            Empty,
            ForestRuinTop,
            ForestRuinBottom,
            ForestRuinLeft,
            ForestRuinVertical,
            ForestRuinVerticalGrassTop,
            ForestRuinVerticalGrassBottom,
            GrassRubbleTop,
            GrassRubbleBottom,
            GrassRubbleLeft,
            GrassRubbleVertical,
            GrassRubbleVerticalForestTop,
            GrassRubbleVerticalForestBottom,
            GrassBush1,
            GrassBush2,
            GrassBush3,
            GrassBush4,
            GrassFlower1,
            GrassFlower2,
            GrassFlower3,
            SandPathTop,
            SandPathBottom,
            SandPathLeft,
            SandPathVertical,
            SandStoneTopFill1,
            SandStoneTopFill2,
            SandStoneTopRightFill,
            SandStoneTopLeftFill,
            SandStoneRightFill,
            SandStoneLeftFill,
            SandStoneBottomRightFill,
            SandStoneBottomLeftFill,
            SandStone1,
            SandStone2,
            SandStone3,
            SandStone4,
            SandStone5,
            SandStone6,
            SandGrassPatch1,
            SandGrassPatch2,
            SandPattern1,
            SandPattern2,
            SandPattern3,
            SandPattern4,
            ForestTree1,
            ForestTree2,
            ForestTree3,
            ForestTree4,
            ForestTree5,
            ForestBush1,
            ForestBush2,
            ForestBush3,
            ForestBush4,
            PathVertical,
            PathBottom,
            PathTop,
            PathLeft,
            PathTopLeft,
            PathBottomLeft,
            PathLeftVertical,
          ]
        ),
        (
          Right,
          [
            Empty,
            ForestRuinTop,
            ForestRuinRight,
            ForestRuinBottom,
            ForestRuinVertical,
            ForestRuinVerticalGrassTop,
            ForestRuinVerticalGrassBottom,
            GrassRubbleTop,
            GrassRubbleRight,
            GrassRubbleBottom,
            GrassRubbleVertical,
            GrassRubbleVerticalForestTop,
            GrassRubbleVerticalForestBottom,
            GrassBush1,
            GrassBush2,
            GrassBush3,
            GrassBush4,
            GrassFlower1,
            GrassFlower2,
            GrassFlower3,
            SandPathTop,
            SandPathRight,
            SandPathBottom,
            SandPathVertical,
            SandStoneTopFill1,
            SandStoneTopFill2,
            SandStoneTopRightFill,
            SandStoneTopLeftFill,
            SandStoneRightFill,
            SandStoneLeftFill,
            SandStoneBottomRightFill,
            SandStoneBottomLeftFill,
            SandStone1,
            SandStone2,
            SandStone3,
            SandStone4,
            SandStone5,
            SandStone6,
            SandGrassPatch1,
            SandGrassPatch2,
            SandPattern1,
            SandPattern2,
            SandPattern3,
            SandPattern4,
            ForestTree1,
            ForestTree2,
            ForestTree3,
            ForestTree4,
            ForestTree5,
            ForestBush1,
            ForestBush2,
            ForestBush3,
            ForestBush4,
            PathRight,
            PathVertical,
            PathBottom,
            PathTop,
            PathTopRight,
            PathBottomRight,
            PathRightVertical,
          ]
        ),
        (
          Bottom,
          [
            Empty,
            ForestRuinRight,
            ForestRuinBottom,
            ForestRuinLeft,
            ForestRuinHorizontal,
            ForestRuinHorizontalGrassRight,
            ForestRuinHorizontalGrassLeft,
            GrassRubbleRight,
            GrassRubbleBottom,
            GrassRubbleLeft,
            GrassRubbleHorizontal,
            GrassRubbleHorizontalForestRight,
            GrassRubbleHorizontalForestLeft,
            GrassBush1,
            GrassBush2,
            GrassBush3,
            GrassBush4,
            GrassFlower1,
            GrassFlower2,
            GrassFlower3,
            SandPathRight,
            SandPathBottom,
            SandPathLeft,
            SandPathHorizontal,
            SandStoneTopFill1,
            SandStoneTopFill2,
            SandStoneTopRightFill,
            SandStoneTopLeftFill,
            SandStoneRightFill,
            SandStoneLeftFill,
            SandStoneBottomRightFill,
            SandStoneBottomLeftFill,
            SandStone1,
            SandStone2,
            SandStone3,
            SandStone4,
            SandStone5,
            SandStone6,
            SandGrassPatch1,
            SandGrassPatch2,
            SandPattern1,
            SandPattern2,
            SandPattern3,
            SandPattern4,
            SandPattern5,
            ForestTree1,
            ForestTree2,
            ForestTree3,
            ForestTree4,
            ForestTree5,
            ForestBush1,
            ForestBush2,
            ForestBush3,
            ForestBush4,
            PathRight,
            PathHorizontal,
            PathBottom,
            PathLeft,
            PathBottomRight,
            PathBottomLeft,
            PathBottomHorizontal,
          ]
        ),
      ]
    ),
  ]
)