(
  terrain: Any,
  states: [
    (
      index: 0,
      name: Empty,
      weight: 225,
      permitted_neighbours: [
        (
          Top,
          [
            Empty,
            ForestRuinTop,
            ForestRuinRight,
            ForestRuinLeft,
            ForestRuinHorizontal,
            ForestRuinHorizontalGrassRight,
            ForestRuinHorizontalGrassLeft,
            GrassRubbleTop,
            GrassRubbleRight,
            GrassRubbleLeft,
            GrassRubbleHorizontal,
            GrassRubbleHorizontalForestRight,
            GrassRubbleHorizontalForestLeft,
            GrassBush1,
            GrassBush2,
            GrassBush3,
            GrassBush4,
            GrassFlower1,
            GrassFlower2,
            GrassFlower3,
            SandPathTop,
            SandPathRight,
            SandPathLeft,
            SandPathHorizontal,
            SandStoneTopFill1,
            SandStoneTopFill2,
            SandStoneTopRightFill,
            SandStoneTopLeftFill,
            SandStoneRightFill,
            SandStoneLeftFill,
            SandStoneBottomRightFill,
            SandStoneBottomLeftFill,
            SandStone1,
            SandStone2,
            SandStone3,
            SandStone4,
            SandStone5,
            SandStone6,
            SandGrassPatch1,
            SandGrassPatch2,
            SandPattern1,
            SandPattern2,
            SandPattern3,
            SandPattern4,
            SandPattern5,
            ForestTree1,
            ForestTree2,
            ForestTree3,
            ForestTree4,
            ForestTree5,
            ForestBush1,
            ForestBush2,
            ForestBush3,
            ForestBush4,
            PathRight,
            PathHorizontal,
            PathTop,
            PathLeft,
            PathTopRight,
            PathTopLeft,
            PathTopHorizontal,
            HouseSmallWallLeft2,
            HouseSmallWallRight1,
            HouseSmallDoorLeft,
            HouseSmallDoorRight,
            HouseSmallWallLeft1,
            HouseSmallWallRight2,
            HouseMediumWallLeft,
            HouseMediumDoorMiddle1,
            HouseMediumWallRight,
            HouseMediumDoorLeft1,
            HouseMediumDoorLeft2,
            HouseMediumWallMiddle1,
            HouseMediumWallMiddle2,
            HouseMediumDoorRight1,
            HouseMediumDoorRight2,
            HouseMediumDoorMiddle2,
            HouseLargeWallLeft,
            HouseLargeDoorMiddle1,
            HouseLargeWallRight,
            HouseLargeDoorLeft1,
            HouseLargeDoorLeft2,
            HouseLargeWallMiddle1,
            HouseLargeWallMiddle2,
            HouseLargeDoorRight1,
            HouseLargeDoorRight2,
            HouseLargeDoorMiddle2,
          ]
        ),
        (
          Left,
          [
            Empty,
            ForestRuinTop,
            ForestRuinBottom,
            ForestRuinLeft,
            ForestRuinVertical,
            ForestRuinVerticalGrassTop,
            ForestRuinVerticalGrassBottom,
            GrassRubbleTop,
            GrassRubbleBottom,
            GrassRubbleLeft,
            GrassRubbleVertical,
            GrassRubbleVerticalForestTop,
            GrassRubbleVerticalForestBottom,
            GrassBush1,
            GrassBush2,
            GrassBush3,
            GrassBush4,
            GrassFlower1,
            GrassFlower2,
            GrassFlower3,
            SandPathTop,
            SandPathBottom,
            SandPathLeft,
            SandPathVertical,
            SandStoneTopFill1,
            SandStoneTopFill2,
            SandStoneTopRightFill,
            SandStoneTopLeftFill,
            SandStoneRightFill,
            SandStoneLeftFill,
            SandStoneBottomRightFill,
            SandStoneBottomLeftFill,
            SandStone1,
            SandStone2,
            SandStone3,
            SandStone4,
            SandStone5,
            SandStone6,
            SandGrassPatch1,
            SandGrassPatch2,
            SandPattern3,
            SandPattern4,
            SandPattern5,
            ForestTree1,
            ForestTree2,
            ForestTree3,
            ForestTree4,
            ForestTree5,
            ForestBush1,
            ForestBush2,
            ForestBush3,
            ForestBush4,
            PathVertical,
            PathBottom,
            PathTop,
            PathLeft,
            PathTopLeft,
            PathBottomLeft,
            PathLeftVertical,
            HouseMediumRoofRight1,
            HouseMediumRoofRight2,
            HouseMediumRoofRight3,
            HouseMediumWallRight,
            HouseLargeRoofRight1,
            HouseLargeRoofRight2,
            HouseLargeRoofRight3,
            HouseLargeWallRight,
            HouseMediumDoorRight1,
            HouseMediumDoorRight2,
            HouseLargeDoorRight1,
            HouseLargeDoorRight2,
            HouseSmallRoofRight1,
            HouseSmallWallRight1,
            HouseSmallRoofRight2,
            HouseSmallDoorRight,
            HouseSmallRoofRight3,
            HouseSmallWallRight2,
          ]
        ),
        (
          Right,
          [
            Empty,
            ForestRuinTop,
            ForestRuinRight,
            ForestRuinBottom,
            ForestRuinVertical,
            ForestRuinVerticalGrassTop,
            ForestRuinVerticalGrassBottom,
            GrassRubbleTop,
            GrassRubbleRight,
            GrassRubbleBottom,
            GrassRubbleVertical,
            GrassRubbleVerticalForestTop,
            GrassRubbleVerticalForestBottom,
            GrassBush1,
            GrassBush2,
            GrassBush3,
            GrassBush4,
            GrassFlower1,
            GrassFlower2,
            GrassFlower3,
            SandPathTop,
            SandPathRight,
            SandPathBottom,
            SandPathVertical,
            SandStoneTopFill1,
            SandStoneTopFill2,
            SandStoneTopRightFill,
            SandStoneTopLeftFill,
            SandStoneRightFill,
            SandStoneLeftFill,
            SandStoneBottomRightFill,
            SandStoneBottomLeftFill,
            SandStone1,
            SandStone2,
            SandStone3,
            SandStone4,
            SandStone5,
            SandStone6,
            SandGrassPatch1,
            SandGrassPatch2,
            SandPattern1,
            SandPattern4,
            SandPattern5,
            ForestTree1,
            ForestTree2,
            ForestTree3,
            ForestTree4,
            ForestTree5,
            ForestBush1,
            ForestBush2,
            ForestBush3,
            ForestBush4,
            PathRight,
            PathVertical,
            PathBottom,
            PathTop,
            PathTopRight,
            PathBottomRight,
            PathRightVertical,
            HouseMediumRoofLeft1,
            HouseMediumRoofLeft2,
            HouseMediumRoofLeft3,
            HouseMediumWallLeft,
            HouseLargeRoofLeft1,
            HouseLargeRoofLeft2,
            HouseLargeRoofLeft3,
            HouseLargeWallLeft,
            HouseMediumDoorLeft1,
            HouseMediumDoorLeft2,
            HouseLargeDoorLeft1,
            HouseLargeDoorLeft2,
            HouseSmallRoofLeft1,
            HouseSmallWallLeft2,
            HouseSmallRoofLeft2,
            HouseSmallDoorLeft,
            HouseSmallRoofLeft3,
          ]
        ),
        (
          Bottom,
          [
            Empty,
            ForestRuinRight,
            ForestRuinBottom,
            ForestRuinLeft,
            ForestRuinHorizontal,
            ForestRuinHorizontalGrassRight,
            ForestRuinHorizontalGrassLeft,
            GrassRubbleRight,
            GrassRubbleBottom,
            GrassRubbleLeft,
            GrassRubbleHorizontal,
            GrassRubbleHorizontalForestRight,
            GrassRubbleHorizontalForestLeft,
            GrassBush1,
            GrassBush2,
            GrassBush3,
            GrassBush4,
            GrassFlower1,
            GrassFlower2,
            GrassFlower3,
            SandPathRight,
            SandPathBottom,
            SandPathLeft,
            SandPathHorizontal,
            SandStoneTopFill1,
            SandStoneTopFill2,
            SandStoneTopRightFill,
            SandStoneTopLeftFill,
            SandStoneRightFill,
            SandStoneLeftFill,
            SandStoneBottomRightFill,
            SandStoneBottomLeftFill,
            SandStone1,
            SandStone2,
            SandStone3,
            SandStone4,
            SandStone5,
            SandStone6,
            SandGrassPatch1,
            SandGrassPatch2,
            SandPattern1,
            SandPattern2,
            SandPattern3,
            SandPattern4,
            SandPattern5,
            ForestTree1,
            ForestTree2,
            ForestTree3,
            ForestTree4,
            ForestTree5,
            ForestBush1,
            ForestBush2,
            ForestBush3,
            ForestBush4,
            PathRight,
            PathHorizontal,
            PathBottom,
            PathLeft,
            PathBottomRight,
            PathBottomLeft,
            PathBottomHorizontal,
            HouseMediumRoofLeft1,
            HouseMediumRoofLeft2,
            HouseMediumRoofLeft3,
            HouseMediumRoofMiddle1,
            HouseMediumRoofMiddle2,
            HouseMediumRoofMiddle3,
            HouseMediumRoofRight1,
            HouseMediumRoofRight2,
            HouseMediumRoofRight3,
            HouseLargeRoofLeft1,
            HouseLargeRoofLeft2,
            HouseLargeRoofLeft3,
            HouseLargeRoofMiddle1,
            HouseLargeRoofMiddle2,
            HouseLargeRoofMiddle3,
            HouseLargeRoofRight1,
            HouseLargeRoofRight2,
            HouseLargeRoofRight3,
            HouseSmallRoofLeft1,
            HouseSmallRoofRight1,
            HouseSmallRoofLeft2,
            HouseSmallRoofRight2,
            HouseSmallRoofLeft3,
            HouseSmallRoofRight3,
          ]
        ),
      ]
    ),
  ]
)