(
  terrain: Forest,
  states: [
    (
      index: 0,
      name: Empty,
      weight: 1,
      permitted_neighbours: [
        (
          Top,
          [
            Empty,
            ForestRuinTop,
            ForestRuinRight,
            ForestRuinLeft,
            ForestRuinHorizontal,
            ForestRuinHorizontalSandRight,
            ForestRuinHorizontalSandLeft,
            ForestRuinHorizontalGrassRight,
            ForestRuinHorizontalGrassLeft,
            GrassRubbleTop,
            GrassRubbleRight,
            GrassRubbleLeft,
            GrassRubbleHorizontal,
            GrassRubbleHorizontalSandRight,
            GrassRubbleHorizontalSandLeft,
            GrassRubbleHorizontalForestRight,
            GrassRubbleHorizontalForestLeft,
            SandPathTop,
            SandPathRight,
            SandPathLeft,
            SandPathHorizontal,
            SandPathHorizontalForestRight,
            SandPathHorizontalForestLeft,
            SandPathHorizontalGrassRight,
            SandPathHorizontalGrassLeft,
            SandStone1,
            SandStone2,
            SandStone3,
            SandStone4,
            SandStone5,
            SandStone6,
            SandGrassPatch1,
            SandGrassPatch2,
            SandPattern1,
            SandPattern2,
            SandPattern3,
            SandPattern4,
            ForestTree1,
            ForestTree2,
            ForestTree3,
            ForestTree4,
            ForestTree5,
          ]
        ),
        (
          Left,
          [
            Empty,
            ForestRuinTop,
            ForestRuinBottom,
            ForestRuinLeft,
            ForestRuinVertical,
            ForestRuinVerticalSandTop,
            ForestRuinVerticalSandBottom,
            ForestRuinVerticalGrassTop,
            ForestRuinVerticalGrassBottom,
            GrassRubbleTop,
            GrassRubbleBottom,
            GrassRubbleLeft,
            GrassRubbleHorizontal,
            GrassRubbleHorizontalSandRight,
            GrassRubbleHorizontalSandLeft,
            GrassRubbleHorizontalForestRight,
            GrassRubbleHorizontalForestLeft,
            SandPathTop,
            SandPathBottom,
            SandPathLeft,
            SandPathVertical,
            SandPathVerticalForestTop,
            SandPathVerticalForestBottom,
            SandPathVerticalGrassTop,
            SandPathVerticalGrassBottom,
            SandStone1,
            SandStone2,
            SandStone3,
            SandStone4,
            SandStone5,
            SandStone6,
            SandGrassPatch1,
            SandGrassPatch2,
            SandPattern1,
            SandPattern2,
            SandPattern3,
            SandPattern4,
            ForestTree1,
            ForestTree2,
            ForestTree3,
            ForestTree4,
            ForestTree5,
          ]
        ),
        (
          Right,
          [
            Empty,
            ForestRuinTop,
            ForestRuinRight,
            ForestRuinBottom,
            ForestRuinCross,
            ForestRuinVertical,
            ForestRuinVerticalSandTop,
            ForestRuinVerticalSandBottom,
            ForestRuinVerticalGrassTop,
            ForestRuinVerticalGrassBottom,
            GrassRubbleTop,
            GrassRubbleRight,
            GrassRubbleBottom,
            GrassRubbleVertical,
            GrassRubbleVerticalSandTop,
            GrassRubbleVerticalSandBottom,
            GrassRubbleVerticalForestTop,
            GrassRubbleVerticalForestBottom,
            SandPathTop,
            SandPathRight,
            SandPathBottom,
            SandPathVertical,
            SandPathVerticalForestTop,
            SandPathVerticalForestBottom,
            SandPathVerticalGrassTop,
            SandPathVerticalGrassBottom,
            SandStone1,
            SandStone2,
            SandStone3,
            SandStone4,
            SandStone5,
            SandStone6,
            SandGrassPatch1,
            SandGrassPatch2,
            SandPattern1,
            SandPattern2,
            SandPattern3,
            SandPattern4,
            ForestTree1,
            ForestTree2,
            ForestTree3,
            ForestTree4,
            ForestTree5,
          ]
        ),
        (
          Bottom,
          [
            Empty,
            ForestRuinRight,
            ForestRuinBottom,
            ForestRuinLeft,
            ForestRuinHorizontal,
            ForestRuinHorizontalSandRight,
            ForestRuinHorizontalSandLeft,
            ForestRuinHorizontalGrassRight,
            ForestRuinHorizontalGrassLeft,
            GrassRubbleRight,
            GrassRubbleBottom,
            GrassRubbleLeft,
            GrassRubbleHorizontal,
            GrassRubbleHorizontalSandRight,
            GrassRubbleHorizontalSandLeft,
            GrassRubbleHorizontalForestRight,
            GrassRubbleHorizontalForestLeft,
            SandPathRight,
            SandPathBottom,
            SandPathLeft,
            SandPathHorizontal,
            SandPathHorizontalForestRight,
            SandPathHorizontalForestLeft,
            SandPathHorizontalGrassRight,
            SandPathHorizontalGrassLeft,
            SandStone1,
            SandStone2,
            SandStone3,
            SandStone4,
            SandStone5,
            SandStone6,
            SandGrassPatch1,
            SandGrassPatch2,
            SandPattern1,
            SandPattern2,
            SandPattern3,
            SandPattern4,
            ForestTree1,
            ForestTree2,
            ForestTree3,
            ForestTree4,
            ForestTree5,
          ]
        ),
      ]
    ),
    (
      index: 1,
      name: ForestRuinRight,
      weight: 3,
      permitted_neighbours: [
        ( Top, [ Empty ] ),
        ( Left, [ Empty ] ),
        (
          Right,
          [
            ForestRuinLeft,
            ForestRuinHorizontal,
            ForestRuinHorizontalGrassRight,
            ForestRuinHorizontalSandRight,
            SandPathHorizontalForestLeft,
            GrassRubbleHorizontalForestLeft,
            ForestRuinCross,
          ]
        ),
        ( Bottom, [ Empty ] ),
      ]
    ),
    (
      index: 2,
      name: ForestRuinHorizontal,
      weight: 10,
      permitted_neighbours: [
        ( Top, [ Empty ] ),
        (
          Left,
          [
            ForestRuinRight,
            ForestRuinHorizontal,
            ForestRuinHorizontalGrassLeft,
            ForestRuinHorizontalSandLeft,
            SandPathHorizontalForestRight,
            GrassRubbleHorizontalForestRight,
            ForestRuinCross,
          ]
        ),
        (
          Right,
          [
            ForestRuinLeft,
            ForestRuinHorizontal,
            ForestRuinHorizontalGrassRight,
            ForestRuinHorizontalSandRight,
            SandPathHorizontalForestLeft,
            GrassRubbleHorizontalForestLeft,
            ForestRuinCross,
          ]
        ),
        ( Bottom, [ Empty ] ),
      ]
    ),
    (
      index: 3,
      name: ForestRuinCross,
      weight: 10,
      permitted_neighbours: [
        (
          Top,
          [
            ForestRuinBottom,
            ForestRuinVertical,
            ForestRuinVerticalGrassTop,
            ForestRuinVerticalSandTop,
            SandPathVerticalForestBottom,
            GrassRubbleVerticalForestBottom,
          ]
        ),
        (
          Left,
          [
            ForestRuinRight,
            ForestRuinHorizontal,
            ForestRuinHorizontalGrassLeft,
            ForestRuinHorizontalSandLeft,
            SandPathHorizontalForestRight,
            GrassRubbleHorizontalForestRight,
          ]
        ),
        (
          Right,
          [
            ForestRuinLeft,
            ForestRuinHorizontal,
            ForestRuinHorizontalGrassRight,
            ForestRuinHorizontalSandRight,
            SandPathHorizontalForestLeft,
            GrassRubbleHorizontalForestLeft,
          ]
        ),
        (
          Bottom,
          [
            ForestRuinTop,
            ForestRuinVertical,
            ForestRuinVerticalGrassBottom,
            ForestRuinVerticalSandBottom,
            SandPathVerticalForestTop,
            GrassRubbleVerticalForestTop,
          ]
        ),
      ]
    ),
    (
      index: 4,
      name: ForestRuinVertical,
      weight: 10,
      permitted_neighbours: [
        (
          Top,
          [
            ForestRuinVertical,
            ForestRuinVerticalGrassTop,
            ForestRuinVerticalSandTop,
            GrassRubbleVerticalForestBottom,
            SandPathVerticalForestBottom,
            ForestRuinBottom,
            ForestRuinCross,
          ]
        ),
        ( Left, [ Empty ] ),
        ( Right, [ Empty ] ),
        (
          Bottom,
          [
            ForestRuinVertical,
            ForestRuinVerticalGrassBottom,
            ForestRuinVerticalSandBottom,
            GrassRubbleVerticalForestTop,
            SandPathVerticalForestTop,
            ForestRuinTop,
            ForestRuinCross,
          ]
        ),
      ]
    ),
    (
      index: 5,
      name: ForestRuinBottom,
      weight: 3,
      permitted_neighbours: [
        ( Top, [ Empty ] ),
        ( Left, [ Empty ] ),
        ( Right, [ Empty ] ),
        (
          Bottom,
          [
            ForestRuinCross,
            ForestRuinVertical,
            ForestRuinVerticalSandBottom,
            ForestRuinVerticalGrassBottom,
            SandPathVerticalForestTop,
            GrassRubbleVerticalForestTop,
            ForestRuinTop,
          ]
        ),
      ]
    ),
    (
      index: 6,
      name: ForestRuinTop,
      weight: 3,
      permitted_neighbours: [
        (
          Top,
          [
            ForestRuinCross,
            ForestRuinVertical,
            ForestRuinVerticalSandTop,
            ForestRuinVerticalGrassTop,
            SandPathVerticalForestBottom,
            GrassRubbleVerticalForestBottom,
            ForestRuinBottom,
          ]
        ),
        ( Left, [ Empty ] ),
        ( Right, [ Empty ] ),
        ( Bottom, [ Empty ] ),
      ]
    ),
    (
      index: 7,
      name: ForestRuinLeft,
      weight: 3,
      permitted_neighbours: [
        ( Top, [ Empty ] ),
        (
          Left,
          [
            ForestRuinRight,
            ForestRuinHorizontal,
            ForestRuinHorizontalSandLeft,
            ForestRuinHorizontalGrassLeft,
            SandPathHorizontalForestRight,
            GrassRubbleHorizontalForestRight,
            ForestRuinCross,
          ]
        ),
        ( Right, [ Empty ] ),
        ( Bottom, [ Empty ] ),
      ]
    ),
    (
      index: 8,
      name: ForestRuinHorizontalGrassRight,
      weight: 10,
      permitted_neighbours: [
        ( Top, [ Empty ] ),
        (
          Left,
          [
            ForestRuinRight,
            ForestRuinHorizontal,
            ForestRuinCross,
          ]
        ),
        (
          Right,
          [
            GrassRubbleLeft,
            GrassRubbleHorizontal,
            GrassRubbleCross,
          ]
        ),
        ( Bottom, [ Empty ] ),
      ]
    ),
    (
      index: 9,
      name: ForestRuinHorizontalGrassLeft,
      weight: 10,
      permitted_neighbours: [
        ( Top, [ Empty ]  ),
        (
          Left,
          [
            GrassRubbleRight,
            GrassRubbleHorizontal,
            GrassRubbleCross,
          ]
        ),
        (
          Right,
          [
            ForestRuinLeft,
            ForestRuinHorizontal,
            ForestRuinCross,
          ]
        ),
        ( Bottom, [ Empty ] ),
      ]
    ),
    (
      index: 10,
      name: ForestRuinHorizontalSandRight,
      weight: 10,
      permitted_neighbours: [
        ( Top, [ Empty ] ),
        (
          Left,
          [
            ForestRuinRight,
            ForestRuinHorizontal,
            ForestRuinCross,
          ]
        ),
        (
          Right,
          [
            SandPathRight,
            SandPathHorizontal,
            SandPathCross,
          ]
        ),
        ( Bottom, [ Empty ] ),
      ]
    ),
    (
      index: 11,
      name: ForestRuinHorizontalSandLeft,
      weight: 10,
      permitted_neighbours: [
        ( Top, [ Empty ]  ),
        (
          Left,
          [
            SandPathRight,
            SandPathHorizontal,
            SandPathCross,
          ]
        ),
        (
          Right,
          [
            ForestRuinLeft,
            ForestRuinHorizontal,
            ForestRuinCross,
          ]
        ),
        ( Bottom, [ Empty ] ),
      ]
    ),
    (
      index: 12,
      name: ForestRuinVerticalGrassTop,
      weight: 10,
      permitted_neighbours: [
        (
          Top,
          [
            GrassRubbleVertical,
            GrassRubbleBottom,
            GrassRubbleCross,
          ]
        ),
        ( Left, [ Empty ] ),
        ( Right, [ Empty ] ),
        (
          Bottom,
          [
            ForestRuinVertical,
            ForestRuinTop,
            ForestRuinCross,
          ]
        ),
      ]
    ),
    (
      index: 13,
      name: ForestRuinVerticalGrassBottom,
      weight: 10,
      permitted_neighbours: [
        (
          Top,
          [
            ForestRuinVertical,
            ForestRuinBottom,
            ForestRuinCross,
          ]
        ),
        ( Left, [ Empty ] ),
        ( Right, [ Empty ] ),
        (
          Bottom,
          [
            GrassRubbleVertical,
            GrassRubbleTop,
            GrassRubbleCross,
          ]
        ),
      ]
    ),
    (
      index: 14,
      name: ForestRuinVerticalSandTop,
      weight: 10,
      permitted_neighbours: [
        (
          Top,
          [
            SandPathVertical,
            SandPathBottom,
            SandPathCross,
          ]
        ),
        ( Left, [ Empty ] ),
        ( Right, [ Empty ] ),
        (
          Bottom,
          [
            ForestRuinVertical,
            ForestRuinTop,
            ForestRuinCross,
          ]
        ),
      ]
    ),
    (
      index: 15,
      name: ForestRuinVerticalSandBottom,
      weight: 10,
      permitted_neighbours: [
        (
          Top,
          [
            ForestRuinVertical,
            ForestRuinBottom,
            ForestRuinCross,
          ]
        ),
        ( Left, [ Empty ] ),
        ( Right, [ Empty ] ),
        (
          Bottom,
          [
            SandPathVertical,
            SandPathTop,
            SandPathCross,
          ]
        ),
      ]
    ),
    (
      index: 0,
      name: ForestTree1,
      weight: 100,
      permitted_neighbours: [
        ( Top, [ Empty, ForestTree2, ForestTree3, ForestTree4, ForestTree5 ] ),
        ( Right, [ Empty, ForestTree2, ForestTree3, ForestTree4, ForestTree5 ] ),
        ( Bottom, [ Empty, ForestTree2, ForestTree3, ForestTree4, ForestTree5 ] ),
        ( Left, [ Empty, ForestTree2, ForestTree3, ForestTree4, ForestTree5 ] ),
      ]
    ),
    (
      index: 1,
      name: ForestTree2,
      weight: 100,
      permitted_neighbours: [
        ( Top, [ Empty, ForestTree1, ForestTree3, ForestTree4, ForestTree5 ] ),
        ( Right, [ Empty, ForestTree1, ForestTree3, ForestTree4, ForestTree5 ] ),
        ( Bottom, [ Empty, ForestTree1, ForestTree3, ForestTree4, ForestTree5 ] ),
        ( Left, [ Empty, ForestTree1, ForestTree3, ForestTree4, ForestTree5 ] ),
      ]
    ),
    (
      index: 2,
      name: ForestTree3,
      weight: 100,
      permitted_neighbours: [
        ( Top, [ Empty, ForestTree2, ForestTree1, ForestTree4, ForestTree5 ] ),
        ( Right, [ Empty, ForestTree2, ForestTree1, ForestTree4, ForestTree5 ] ),
        ( Bottom, [ Empty, ForestTree2, ForestTree1, ForestTree4, ForestTree5 ] ),
        ( Left, [ Empty, ForestTree2, ForestTree1, ForestTree4, ForestTree5 ] ),
      ]
    ),
    (
      index: 3,
      name: ForestTree4,
      weight: 100,
      permitted_neighbours: [
        ( Top, [ Empty, ForestTree2, ForestTree1, ForestTree3, ForestTree5 ] ),
        ( Right, [ Empty, ForestTree2, ForestTree1, ForestTree3, ForestTree5 ] ),
        ( Bottom, [ Empty, ForestTree2, ForestTree1, ForestTree3, ForestTree5 ] ),
        ( Left, [ Empty, ForestTree2, ForestTree1, ForestTree3, ForestTree5 ] ),
      ]
    ),
    (
      index: 4,
      name: ForestTree5,
      weight: 100,
      permitted_neighbours: [
        ( Top, [ Empty, ForestTree2, ForestTree1, ForestTree3, ForestTree4 ] ),
        ( Right, [ Empty, ForestTree2, ForestTree1, ForestTree3, ForestTree4 ] ),
        ( Bottom, [ Empty, ForestTree2, ForestTree1, ForestTree3, ForestTree4 ] ),
        ( Left, [ Empty, ForestTree2, ForestTree1, ForestTree3, ForestTree4 ] ),
      ]
    ),
  ]
)