(
  terrain: Forest,
  states: [
    (
      index: 0,
      name: ForestEmpty,
      permitted_neighbours: [
        (
          Top,
          [
            (ForestEmpty, 10),
            (ForestPathRight, 1),
            (ForestPathHorizontal, 1),
            (ForestPathLeft, 1),
            (ForestPathTop, 1),
          ]
        ),
        (
          Left,
          [
            (ForestEmpty, 10),
            (ForestPathVertical, 1),
            (ForestPathTop, 1),
            (ForestPathBottom, 1),
            (ForestPathLeft, 1),
          ]
        ),
        (
          Right,
          [
            (ForestEmpty, 10),
            (ForestPathVertical, 1),
            (ForestPathTop, 1),
            (ForestPathBottom, 1),
            (ForestPathRight, 1),
          ]
        ),
        (
          Bottom,
          [
            (ForestEmpty, 10),
            (ForestPathRight, 1),
            (ForestPathHorizontal, 1),
            (ForestPathLeft, 1),
            (ForestPathBottom, 1),
          ]
        ),
      ]
    ),
    (
      index: 1,
      name: ForestPathRight,
      permitted_neighbours: [
        (
          Top,
          [
            (ForestEmpty, 1),
          ]
        ),
        (
          Left,
          [
            (ForestEmpty, 1),
          ]
        ),
        (
          Right,
          [
            (ForestPathLeft, 1),
            (ForestPathHorizontal, 4),
            (ForestPathCross, 1),
          ]
        ),
        (
          Bottom,
          [
            (ForestEmpty, 1),
          ]
        ),
      ]
    ),
    (
      index: 2,
      name: ForestPathHorizontal,
      permitted_neighbours: [
        (
          Top,
          [
            (ForestEmpty, 1),
          ]
        ),
        (
          Left,
          [
            (ForestPathRight, 1),
            (ForestPathHorizontal, 4),
            (ForestPathCross, 1),
          ]
        ),
        (
          Right,
          [
            (ForestPathLeft, 1),
            (ForestPathHorizontal, 4),
            (ForestPathCross, 1),
          ]
        ),
        (
          Bottom,
          [
            (ForestEmpty, 1),
          ]
        ),
      ]
    ),
    (
      index: 3,
      name: ForestPathCross,
      permitted_neighbours: [
        (
          Top,
          [
            (ForestPathBottom, 1),
            (ForestPathVertical, 4),
          ]
        ),
        (
          Left,
          [
            (ForestPathRight, 1),
            (ForestPathHorizontal, 4),
          ]
        ),
        (
          Right,
          [
            (ForestPathLeft, 1),
            (ForestPathHorizontal, 4),
          ]
        ),
        (
          Bottom,
          [
            (ForestPathTop, 1),
            (ForestPathVertical, 4),
          ]
        ),
      ]
    ),
    (
      index: 4,
      name: ForestPathVertical,
      permitted_neighbours: [
        (
          Top,
          [
            (ForestPathVertical, 6),
            (ForestPathTop, 2),
            (ForestPathBottom, 2),
            (ForestPathCross, 2),
          ]
        ),
        (
          Left,
          [
            (ForestEmpty, 1),
          ]
        ),
        (
          Right,
          [
            (ForestEmpty, 1),
          ]
        ),
        (
          Bottom,
          [
            (ForestPathVertical, 6),
            (ForestPathTop, 2),
            (ForestPathBottom, 2),
            (ForestPathCross, 2),
          ]
        ),
      ]
    ),
    (
      index: 5,
      name: ForestPathBottom,
      permitted_neighbours: [
        (
          Top,
          [
            (ForestEmpty, 1),
          ]
        ),
        (
          Left,
          [
            (ForestEmpty, 1),
          ]
        ),
        (
          Right,
          [
            (ForestEmpty, 1),
          ]
        ),
        (
          Bottom,
          [
            (ForestPathCross, 2),
            (ForestPathVertical, 4),
            (ForestPathTop, 2),
          ]
        ),
      ]
    ),
    (
      index: 6,
      name: ForestPathTop,
      permitted_neighbours: [
        (
          Top,
          [
            (ForestPathCross, 2),
            (ForestPathVertical, 4),
            (ForestPathBottom, 2),
          ]
        ),
        (
          Left,
          [
            (ForestEmpty, 1),
          ]
        ),
        (
          Right,
          [
            (ForestEmpty, 1),
          ]
        ),
        (
          Bottom,
          [
            (ForestEmpty, 1),
          ]
        ),
      ]
    ),
    (
      index: 7,
      name: ForestPathLeft,
      permitted_neighbours: [
        (
          Top,
          [
            (ForestEmpty, 1),
          ]
        ),
        (
          Left,
          [
            (ForestPathRight, 2),
            (ForestPathHorizontal, 4),
            (ForestPathCross, 2),
          ]
        ),
        (
          Right,
          [
            (ForestEmpty, 1),
          ]
        ),
        (
          Bottom,
          [
            (ForestEmpty, 1),
          ]
        ),
      ]
    ),
  ]
)
