(
  terrain: Forest,
  states: [
    (
      index: 0,
      name: Empty,
      weight: 1,
      permitted_neighbours: [
        (
          Top,
          [
            Empty,
            ForestPathRight,
            ForestPathHorizontal,
            ForestPathHorizontalSandLeft,
            ForestPathHorizontalSandRight,
            ForestPathHorizontalGrassLeft,
            ForestPathHorizontalGrassRight,
            ForestPathLeft,
            ForestPathTop,
            GrassPathRight,
            GrassPathHorizontal,
            GrassPathHorizontalSandRight,
            GrassPathHorizontalSandLeft,
            GrassPathHorizontalForestLeft,
            GrassPathHorizontalForestRight,
            GrassPathLeft,
            GrassPathTop,
            SandPathRight,
            SandPathHorizontal,
            SandPathHorizontalForestRight,
            SandPathHorizontalForestLeft,
            SandPathHorizontalGrassRight,
            SandPathHorizontalGrassLeft,
            SandPathLeft,
            SandPathTop,
            SandStone1,
            SandStone2,
            SandStone3,
            SandStone4,
            SandStone5,
            SandStone6,
            SandGrassPatch1,
            SandGrassPatch2,
            SandPattern1,
            SandPattern2,
            SandPattern3,
            SandPattern4,
          ]
        ),
        (
          Left,
          [
            Empty,
            ForestPathVertical,
            ForestPathVerticalSandTop,
            ForestPathVerticalSandBottom,
            ForestPathVerticalGrassTop,
            ForestPathVerticalGrassBottom,
            ForestPathTop,
            ForestPathBottom,
            ForestPathLeft,
            GrassPathVertical,
            GrassPathVerticalSandTop,
            GrassPathVerticalSandBottom,
            GrassPathVerticalForestTop,
            GrassPathVerticalForestBottom,
            GrassPathTop,
            GrassPathBottom,
            GrassPathLeft,
            SandPathVertical,
            SandPathVerticalForestTop,
            SandPathVerticalForestBottom,
            SandPathVerticalGrassTop,
            SandPathVerticalGrassBottom,
            SandPathTop,
            SandPathBottom,
            SandPathLeft,
            SandStone1,
            SandStone2,
            SandStone3,
            SandStone4,
            SandStone5,
            SandStone6,
            SandGrassPatch1,
            SandGrassPatch2,
            SandPattern1,
            SandPattern2,
            SandPattern3,
            SandPattern4,
          ]
        ),
        (
          Right,
          [
            Empty,
            ForestPathVertical,
            ForestPathVerticalSandTop,
            ForestPathVerticalSandBottom,
            ForestPathVerticalGrassTop,
            ForestPathVerticalGrassBottom,
            ForestPathTop,
            ForestPathBottom,
            ForestPathRight,
            GrassPathVertical,
            GrassPathVerticalSandTop,
            GrassPathVerticalSandBottom,
            GrassPathVerticalForestTop,
            GrassPathVerticalForestBottom,
            GrassPathTop,
            GrassPathBottom,
            GrassPathRight,
            SandPathVertical,
            SandPathVerticalForestTop,
            SandPathVerticalForestBottom,
            SandPathVerticalGrassTop,
            SandPathVerticalGrassBottom,
            SandPathTop,
            SandPathBottom,
            SandPathRight,
            SandStone1,
            SandStone2,
            SandStone3,
            SandStone4,
            SandStone5,
            SandStone6,
            SandGrassPatch1,
            SandGrassPatch2,
            SandPattern1,
            SandPattern2,
            SandPattern3,
            SandPattern4,
          ]
        ),
        (
          Bottom,
          [
            Empty,
            ForestPathRight,
            ForestPathHorizontal,
            ForestPathHorizontalSandLeft,
            ForestPathHorizontalSandRight,
            ForestPathHorizontalGrassLeft,
            ForestPathHorizontalGrassRight,
            ForestPathLeft,
            ForestPathBottom,
            GrassPathRight,
            GrassPathHorizontal,
            GrassPathHorizontalSandRight,
            GrassPathHorizontalSandLeft,
            GrassPathHorizontalForestLeft,
            GrassPathHorizontalForestRight,
            GrassPathLeft,
            GrassPathBottom,
            SandPathRight,
            SandPathHorizontal,
            SandPathHorizontalForestRight,
            SandPathHorizontalForestLeft,
            SandPathHorizontalGrassRight,
            SandPathHorizontalGrassLeft,
            SandPathLeft,
            SandPathBottom,
            SandStone1,
            SandStone2,
            SandStone3,
            SandStone4,
            SandStone5,
            SandStone6,
            SandGrassPatch1,
            SandGrassPatch2,
            SandPattern1,
            SandPattern2,
            SandPattern3,
            SandPattern4,
          ]
        ),
      ]
    ),
    (
      index: 1,
      name: ForestPathRight,
      weight: 10,
      permitted_neighbours: [
        ( Top, [ Empty ] ),
        ( Left, [ Empty ] ),
        (
          Right,
          [
            ForestPathLeft,
            ForestPathHorizontal,
            ForestPathHorizontalGrassRight,
            ForestPathHorizontalSandRight,
            SandPathHorizontalForestLeft,
            GrassPathHorizontalForestLeft,
            ForestPathCross,
          ]
        ),
        ( Bottom, [ Empty ] ),
      ]
    ),
    (
      index: 2,
      name: ForestPathHorizontal,
      weight: 10,
      permitted_neighbours: [
        ( Top, [ Empty ] ),
        (
          Left,
          [
            ForestPathRight,
            ForestPathHorizontal,
            ForestPathHorizontalGrassLeft,
            ForestPathHorizontalSandLeft,
            SandPathHorizontalForestRight,
            GrassPathHorizontalForestRight,
            ForestPathCross,
          ]
        ),
        (
          Right,
          [
            ForestPathLeft,
            ForestPathHorizontal,
            ForestPathHorizontalGrassRight,
            ForestPathHorizontalSandRight,
            SandPathHorizontalForestLeft,
            GrassPathHorizontalForestLeft,
            ForestPathCross,
          ]
        ),
        ( Bottom, [ Empty ] ),
      ]
    ),
    (
      index: 3,
      name: ForestPathCross,
      weight: 10,
      permitted_neighbours: [
        (
          Top,
          [
            ForestPathBottom,
            ForestPathVertical,
            ForestPathVerticalGrassTop,
            ForestPathVerticalSandTop,
            SandPathVerticalForestBottom,
            GrassPathVerticalForestBottom,
          ]
        ),
        (
          Left,
          [
            ForestPathRight,
            ForestPathHorizontal,
            ForestPathHorizontalGrassLeft,
            ForestPathHorizontalSandLeft,
            SandPathHorizontalForestRight,
            GrassPathHorizontalForestRight,
          ]
        ),
        (
          Right,
          [
            ForestPathLeft,
            ForestPathHorizontal,
            ForestPathHorizontalGrassRight,
            ForestPathHorizontalSandRight,
            SandPathHorizontalForestLeft,
            GrassPathHorizontalForestLeft,
          ]
        ),
        (
          Bottom,
          [
            ForestPathTop,
            ForestPathVertical,
            ForestPathVerticalGrassBottom,
            ForestPathVerticalSandBottom,
            SandPathVerticalForestTop,
            GrassPathVerticalForestTop,
          ]
        ),
      ]
    ),
    (
      index: 4,
      name: ForestPathVertical,
      weight: 10,
      permitted_neighbours: [
        (
          Top,
          [
            ForestPathVertical,
            ForestPathVerticalGrassTop,
            ForestPathVerticalSandTop,
            GrassPathVerticalForestBottom,
            SandPathVerticalForestBottom,
            ForestPathBottom,
            ForestPathCross,
          ]
        ),
        ( Left, [ Empty ] ),
        ( Right, [ Empty ] ),
        (
          Bottom,
          [
            ForestPathVertical,
            ForestPathVerticalGrassBottom,
            ForestPathVerticalSandBottom,
            GrassPathVerticalForestTop,
            SandPathVerticalForestTop,
            ForestPathTop,
            ForestPathCross,
          ]
        ),
      ]
    ),
    (
      index: 5,
      name: ForestPathBottom,
      weight: 10,
      permitted_neighbours: [
        ( Top, [ Empty ] ),
        ( Left, [ Empty ] ),
        ( Right, [ Empty ] ),
        (
          Bottom,
          [
            ForestPathCross,
            ForestPathVertical,
            ForestPathVerticalSandBottom,
            ForestPathVerticalGrassBottom,
            SandPathVerticalForestTop,
            GrassPathVerticalForestTop,
            ForestPathTop,
          ]
        ),
      ]
    ),
    (
      index: 6,
      name: ForestPathTop,
      weight: 10,
      permitted_neighbours: [
        (
          Top,
          [
            ForestPathCross,
            ForestPathVertical,
            ForestPathVerticalSandTop,
            ForestPathVerticalGrassTop,
            SandPathVerticalForestBottom,
            GrassPathVerticalForestBottom,
            ForestPathBottom,
          ]
        ),
        ( Left, [ Empty ] ),
        ( Right, [ Empty ] ),
        ( Bottom, [ Empty ] ),
      ]
    ),
    (
      index: 7,
      name: ForestPathLeft,
      weight: 10,
      permitted_neighbours: [
        ( Top, [ Empty ] ),
        (
          Left,
          [
            ForestPathRight,
            ForestPathHorizontal,
            ForestPathHorizontalSandLeft,
            ForestPathHorizontalGrassLeft,
            SandPathHorizontalForestRight,
            GrassPathHorizontalForestRight,
            ForestPathCross,
          ]
        ),
        ( Right, [ Empty ] ),
        ( Bottom, [ Empty ] ),
      ]
    ),
    (
      index: 8,
      name: ForestPathHorizontalGrassRight,
      weight: 10,
      permitted_neighbours: [
        ( Top, [ Empty ] ),
        (
          Left,
          [
            ForestPathRight,
            ForestPathHorizontal,
            ForestPathCross,
          ]
        ),
        (
          Right,
          [
            GrassPathLeft,
            GrassPathHorizontal,
            GrassPathCross,
          ]
        ),
        ( Bottom, [ Empty ] ),
      ]
    ),
    (
      index: 9,
      name: ForestPathHorizontalGrassLeft,
      weight: 10,
      permitted_neighbours: [
        ( Top, [ Empty ]  ),
        (
          Left,
          [
            GrassPathRight,
            GrassPathHorizontal,
            GrassPathCross,
          ]
        ),
        (
          Right,
          [
            ForestPathLeft,
            ForestPathHorizontal,
            ForestPathCross,
          ]
        ),
        ( Bottom, [ Empty ] ),
      ]
    ),
    (
      index: 10,
      name: ForestPathHorizontalSandRight,
      weight: 10,
      permitted_neighbours: [
        ( Top, [ Empty ] ),
        (
          Left,
          [
            ForestPathRight,
            ForestPathHorizontal,
            ForestPathCross,
          ]
        ),
        (
          Right,
          [
            SandPathRight,
            SandPathHorizontal,
            SandPathCross,
          ]
        ),
        ( Bottom, [ Empty ] ),
      ]
    ),
    (
      index: 11,
      name: ForestPathHorizontalSandLeft,
      weight: 10,
      permitted_neighbours: [
        ( Top, [ Empty ]  ),
        (
          Left,
          [
            SandPathRight,
            SandPathHorizontal,
            SandPathCross,
          ]
        ),
        (
          Right,
          [
            ForestPathLeft,
            ForestPathHorizontal,
            ForestPathCross,
          ]
        ),
        ( Bottom, [ Empty ] ),
      ]
    ),
    (
      index: 12,
      name: ForestPathVerticalGrassTop,
      weight: 10,
      permitted_neighbours: [
        (
          Top,
          [
            GrassPathVertical,
            GrassPathBottom,
            GrassPathCross,
          ]
        ),
        ( Left, [ Empty ] ),
        ( Right, [ Empty ] ),
        (
          Bottom,
          [
            ForestPathVertical,
            ForestPathTop,
            ForestPathCross,
          ]
        ),
      ]
    ),
    (
      index: 13,
      name: ForestPathVerticalGrassBottom,
      weight: 10,
      permitted_neighbours: [
        (
          Top,
          [
            ForestPathVertical,
            ForestPathBottom,
            ForestPathCross,
          ]
        ),
        ( Left, [ Empty ] ),
        ( Right, [ Empty ] ),
        (
          Bottom,
          [
            GrassPathVertical,
            GrassPathTop,
            GrassPathCross,
          ]
        ),
      ]
    ),
    (
      index: 14,
      name: ForestPathVerticalSandTop,
      weight: 10,
      permitted_neighbours: [
        (
          Top,
          [
            SandPathVertical,
            SandPathBottom,
            SandPathCross,
          ]
        ),
        ( Left, [ Empty ] ),
        ( Right, [ Empty ] ),
        (
          Bottom,
          [
            ForestPathVertical,
            ForestPathTop,
            ForestPathCross,
          ]
        ),
      ]
    ),
    (
      index: 15,
      name: ForestPathVerticalSandBottom,
      weight: 10,
      permitted_neighbours: [
        (
          Top,
          [
            ForestPathVertical,
            ForestPathBottom,
            ForestPathCross,
          ]
        ),
        ( Left, [ Empty ] ),
        ( Right, [ Empty ] ),
        (
          Bottom,
          [
            SandPathVertical,
            SandPathTop,
            SandPathCross,
          ]
        ),
      ]
    ),
  ]
)