(
  terrain: Grass,
  states: [
    (
      index: 1,
      name: GrassRubbleRight,
      weight: 3,
      permitted_neighbours: [
        ( Top, [ Empty ] ),
        ( Left, [ Empty ] ),
        (
          Right,
          [
            GrassRubbleLeft,
            GrassRubbleHorizontal,
            GrassRubbleHorizontalForestRight,
            GrassRubbleHorizontalSandRight,
            SandPathHorizontalGrassLeft,
            ForestRuinHorizontalGrassLeft,
            GrassRubbleCross,
          ]
        ),
        ( Bottom, [ Empty ] ),
      ]
    ),
    (
      index: 2,
      name: GrassRubbleHorizontal,
      weight: 10,
      permitted_neighbours: [
        ( Top, [ Empty ] ),
        (
          Left,
          [
            GrassRubbleRight,
            GrassRubbleHorizontal,
            GrassRubbleHorizontalForestLeft,
            GrassRubbleHorizontalSandLeft,
            SandPathHorizontalGrassRight,
            ForestRuinHorizontalGrassRight,
            GrassRubbleCross,
          ]
        ),
        (
          Right,
          [
            GrassRubbleLeft,
            GrassRubbleHorizontal,
            GrassRubbleHorizontalForestRight,
            GrassRubbleHorizontalSandRight,
            SandPathHorizontalGrassLeft,
            ForestRuinHorizontalGrassLeft,
            GrassRubbleCross,
          ]
        ),
        ( Bottom, [ Empty ] ),
      ]
    ),
    (
      index: 3,
      name: GrassRubbleCross,
      weight: 10,
      permitted_neighbours: [
        (
          Top,
          [
            GrassRubbleBottom,
            GrassRubbleVertical,
            GrassRubbleVerticalForestTop,
            GrassRubbleVerticalSandTop,
            SandPathVerticalGrassBottom,
            ForestRuinVerticalGrassBottom,
          ]
        ),
        (
          Left,
          [
            GrassRubbleRight,
            GrassRubbleHorizontal,
            GrassRubbleHorizontalForestLeft,
            GrassRubbleHorizontalSandLeft,
            SandPathHorizontalGrassRight,
            ForestRuinHorizontalGrassRight,
          ]
        ),
        (
          Right,
          [
            GrassRubbleLeft,
            GrassRubbleHorizontal,
            GrassRubbleHorizontalForestRight,
            GrassRubbleHorizontalSandRight,
            SandPathHorizontalGrassLeft,
            ForestRuinHorizontalGrassLeft,
          ]
        ),
        (
          Bottom,
          [
            GrassRubbleTop,
            GrassRubbleVertical,
            GrassRubbleVerticalForestBottom,
            GrassRubbleVerticalSandBottom,
            SandPathVerticalGrassTop,
            ForestRuinVerticalGrassTop,
          ]
        ),
      ]
    ),
    (
      index: 4,
      name: GrassRubbleVertical,
      weight: 10,
      permitted_neighbours: [
        (
          Top,
          [
            GrassRubbleVertical,
            GrassRubbleVerticalForestTop,
            GrassRubbleVerticalSandTop,
            SandPathVerticalGrassBottom,
            ForestRuinVerticalGrassBottom,
            GrassRubbleBottom,
            GrassRubbleCross,
          ]
        ),
        ( Left, [ Empty ] ),
        ( Right, [ Empty ] ),
        (
          Bottom,
          [
            GrassRubbleVertical,
            GrassRubbleVerticalForestBottom,
            GrassRubbleVerticalSandBottom,
            SandPathVerticalGrassTop,
            ForestRuinVerticalGrassTop,
            GrassRubbleTop,
            GrassRubbleCross,
          ]
        ),
      ]
    ),
    (
      index: 5,
      name: GrassRubbleBottom,
      weight: 3,
      permitted_neighbours: [
        ( Top, [ Empty ] ),
        ( Left, [ Empty ] ),
        ( Right, [ Empty ] ),
        (
          Bottom,
          [
            GrassRubbleCross,
            GrassRubbleVertical,
            GrassRubbleVerticalSandBottom,
            GrassRubbleVerticalForestBottom,
            SandPathVerticalGrassTop,
            ForestRuinVerticalGrassTop,
            GrassRubbleTop,
          ]
        ),
      ]
    ),
    (
      index: 6,
      name: GrassRubbleTop,
      weight: 3,
      permitted_neighbours: [
        (
          Top,
          [
            GrassRubbleCross,
            GrassRubbleVertical,
            GrassRubbleVerticalSandTop,
            GrassRubbleVerticalForestTop,
            SandPathVerticalGrassBottom,
            ForestRuinVerticalGrassBottom,
            GrassRubbleBottom,
          ]
        ),
        ( Left, [ Empty ] ),
        ( Right, [ Empty ] ),
        ( Bottom, [ Empty ] ),
      ]
    ),
    (
      index: 7,
      name: GrassRubbleLeft,
      weight: 3,
      permitted_neighbours: [
        ( Top, [ Empty ] ),
        (
          Left,
          [
            GrassRubbleRight,
            GrassRubbleHorizontal,
            GrassRubbleHorizontalSandLeft,
            GrassRubbleHorizontalForestLeft,
            SandPathHorizontalGrassRight,
            ForestRuinHorizontalGrassRight,
            GrassRubbleCross,
          ]
        ),
        ( Right, [ Empty ] ),
        ( Bottom, [ Empty ] ),
      ]
    ),
    (
      index: 8,
      name: GrassRubbleHorizontalForestRight,
      weight: 10,
      permitted_neighbours: [
        ( Top, [ Empty ] ),
        (
          Left,
          [
            GrassRubbleRight,
            GrassRubbleHorizontal,
            GrassRubbleCross,
          ]
        ),
        (
          Right,
          [
            ForestRuinLeft,
            ForestRuinHorizontal,
            ForestRuinCross,
          ]
        ),
        ( Bottom, [ Empty ] ),
      ]
    ),
    (
      index: 9,
      name: GrassRubbleHorizontalForestLeft,
      weight: 10,
      permitted_neighbours: [
        ( Top, [ Empty ]  ),
        (
          Left,
          [
            ForestRuinRight,
            ForestRuinHorizontal,
            ForestRuinCross,
          ]
        ),
        (
          Right,
          [
            GrassRubbleLeft,
            GrassRubbleHorizontal,
            GrassRubbleCross,
          ]
        ),
        ( Bottom, [ Empty ] ),
      ]
    ),
    (
      index: 10,
      name: GrassRubbleHorizontalSandRight,
      weight: 10,
      permitted_neighbours: [
        ( Top, [ Empty ] ),
        (
          Left,
          [
            GrassRubbleRight,
            GrassRubbleHorizontal,
            GrassRubbleCross,
          ]
        ),
        (
          Right,
          [
            SandPathRight,
            SandPathHorizontal,
            SandPathCross,
          ]
        ),
        ( Bottom, [ Empty ] ),
      ]
    ),
    (
      index: 11,
      name: GrassRubbleHorizontalSandLeft,
      weight: 10,
      permitted_neighbours: [
        ( Top, [ Empty ]  ),
        (
          Left,
          [
            SandPathRight,
            SandPathHorizontal,
            SandPathCross,
          ]
        ),
        (
          Right,
          [
            GrassRubbleLeft,
            GrassRubbleHorizontal,
            GrassRubbleCross,
          ]
        ),
        ( Bottom, [ Empty ] ),
      ]
    ),
    (
      index: 12,
      name: GrassRubbleVerticalForestTop,
      weight: 10,
      permitted_neighbours: [
        (
          Top,
          [
            ForestRuinVertical,
            ForestRuinBottom,
            ForestRuinCross,
          ]
        ),
        ( Left, [ Empty ] ),
        ( Right, [ Empty ] ),
        (
          Bottom,
          [
            GrassRubbleVertical,
            GrassRubbleTop,
            GrassRubbleCross,
          ]
        ),
      ]
    ),
    (
      index: 13,
      name: GrassRubbleVerticalForestBottom,
      weight: 10,
      permitted_neighbours: [
        (
          Top,
          [
            GrassRubbleVertical,
            GrassRubbleBottom,
            GrassRubbleCross,
          ]
        ),
        ( Left, [ Empty ] ),
        ( Right, [ Empty ] ),
        (
          Bottom,
          [
            ForestRuinVertical,
            ForestRuinTop,
            ForestRuinCross,
          ]
        ),
      ]
    ),
    (
      index: 14,
      name: GrassRubbleVerticalSandTop,
      weight: 10,
      permitted_neighbours: [
        (
          Top,
          [
            SandPathVertical,
            SandPathBottom,
            SandPathCross,
          ]
        ),
        ( Left, [ Empty ] ),
        ( Right, [ Empty ] ),
        (
          Bottom,
          [
            GrassRubbleVertical,
            GrassRubbleTop,
            GrassRubbleCross,
          ]
        ),
      ]
    ),
    (
      index: 15,
      name: GrassRubbleVerticalSandBottom,
      weight: 10,
      permitted_neighbours: [
        (
          Top,
          [
            GrassRubbleVertical,
            GrassRubbleBottom,
            GrassRubbleCross,
          ]
        ),
        ( Left, [ Empty ] ),
        ( Right, [ Empty ] ),
        (
          Bottom,
          [
            SandPathVertical,
            SandPathTop,
            SandPathCross,
          ]
        ),
      ]
    ),
  ]
)