(
  terrain: Grass,
  states: [
    (
      index: 0,
      name: Empty,
      permitted_neighbours: [
        (
          Top,
          [
            (Empty, 10),
            (ForestPathRight, 1),
            (ForestPathHorizontal, 1),
            (ForestPathHorizontalSandLeft, 1),
            (ForestPathHorizontalSandRight, 1),
            (ForestPathHorizontalGrassLeft, 1),
            (ForestPathHorizontalGrassRight, 1),
            (ForestPathLeft, 1),
            (ForestPathTop, 1),
            (GrassPathRight, 1),
            (GrassPathHorizontal, 1),
            (GrassPathHorizontalSandRight, 1),
            (GrassPathHorizontalSandLeft, 1),
            (GrassPathHorizontalForestLeft, 1),
            (GrassPathHorizontalForestRight, 1),
            (GrassPathLeft, 1),
            (GrassPathTop, 1),
            (SandPathRight, 1),
            (SandPathHorizontal, 1),
            (SandPathHorizontalForestRight, 1),
            (SandPathHorizontalForestLeft, 1),
            (SandPathHorizontalGrassRight, 1),
            (SandPathHorizontalGrassLeft, 1),
            (SandPathLeft, 1),
            (SandPathTop, 1),
            (SandStone1, 1),
            (SandStone2, 1),
            (SandStone3, 1),
            (SandStone4, 1),
            (SandStone5, 1),
            (SandStone6, 1),
            (SandGrassPatch1, 1),
            (SandGrassPatch2, 1),
            (SandPattern1, 1),
            (SandPattern2, 1),
            (SandPattern3, 1),
            (SandPattern4, 1),
          ]
        ),
        (
          Left,
          [
            (Empty, 10),
            (ForestPathVertical, 1),
            (ForestPathVerticalSandTop, 1),
            (ForestPathVerticalSandBottom, 1),
            (ForestPathVerticalGrassTop, 1),
            (ForestPathVerticalGrassBottom, 1),
            (ForestPathTop, 1),
            (ForestPathBottom, 1),
            (ForestPathLeft, 1),
            (GrassPathVertical, 1),
            (GrassPathVerticalSandTop, 1),
            (GrassPathVerticalSandBottom, 1),
            (GrassPathVerticalForestTop, 1),
            (GrassPathVerticalForestBottom, 1),
            (GrassPathTop, 1),
            (GrassPathBottom, 1),
            (GrassPathLeft, 1),
            (SandPathVertical, 1),
            (SandPathVerticalForestTop, 1),
            (SandPathVerticalForestBottom, 1),
            (SandPathVerticalGrassTop, 1),
            (SandPathVerticalGrassBottom, 1),
            (SandPathTop, 1),
            (SandPathBottom, 1),
            (SandPathLeft, 1),
            (SandStone1, 1),
            (SandStone2, 1),
            (SandStone3, 1),
            (SandStone4, 1),
            (SandStone5, 1),
            (SandStone6, 1),
            (SandGrassPatch1, 1),
            (SandGrassPatch2, 1),
            (SandPattern1, 1),
            (SandPattern2, 1),
            (SandPattern3, 1),
            (SandPattern4, 1),
          ]
        ),
        (
          Right,
          [
            (Empty, 10),
            (ForestPathVertical, 1),
            (ForestPathVerticalSandTop, 1),
            (ForestPathVerticalSandBottom, 1),
            (ForestPathVerticalGrassTop, 1),
            (ForestPathVerticalGrassBottom, 1),
            (ForestPathTop, 1),
            (ForestPathBottom, 1),
            (ForestPathRight, 1),
            (GrassPathVertical, 1),
            (GrassPathVerticalSandTop, 1),
            (GrassPathVerticalSandBottom, 1),
            (GrassPathVerticalForestTop, 1),
            (GrassPathVerticalForestBottom, 1),
            (GrassPathTop, 1),
            (GrassPathBottom, 1),
            (GrassPathRight, 1),
            (SandPathVertical, 1),
            (SandPathVerticalForestTop, 1),
            (SandPathVerticalForestBottom, 1),
            (SandPathVerticalGrassTop, 1),
            (SandPathVerticalGrassBottom, 1),
            (SandPathTop, 1),
            (SandPathBottom, 1),
            (SandPathRight, 1),
            (SandStone1, 1),
            (SandStone2, 1),
            (SandStone3, 1),
            (SandStone4, 1),
            (SandStone5, 1),
            (SandStone6, 1),
            (SandGrassPatch1, 1),
            (SandGrassPatch2, 1),
            (SandPattern1, 1),
            (SandPattern2, 1),
            (SandPattern3, 1),
            (SandPattern4, 1),
          ]
        ),
        (
          Bottom,
          [
            (Empty, 10),
            (ForestPathRight, 1),
            (ForestPathHorizontal, 1),
            (ForestPathHorizontalSandLeft, 1),
            (ForestPathHorizontalSandRight, 1),
            (ForestPathHorizontalGrassLeft, 1),
            (ForestPathHorizontalGrassRight, 1),
            (ForestPathLeft, 1),
            (ForestPathBottom, 1),
            (GrassPathRight, 1),
            (GrassPathHorizontal, 1),
            (GrassPathHorizontalSandRight, 1),
            (GrassPathHorizontalSandLeft, 1),
            (GrassPathHorizontalForestLeft, 1),
            (GrassPathHorizontalForestRight, 1),
            (GrassPathLeft, 1),
            (GrassPathBottom, 1),
            (SandPathRight, 1),
            (SandPathHorizontal, 1),
            (SandPathHorizontalForestRight, 1),
            (SandPathHorizontalForestLeft, 1),
            (SandPathHorizontalGrassRight, 1),
            (SandPathHorizontalGrassLeft, 1),
            (SandPathLeft, 1),
            (SandPathBottom, 1),
            (SandStone1, 1),
            (SandStone2, 1),
            (SandStone3, 1),
            (SandStone4, 1),
            (SandStone5, 1),
            (SandStone6, 1),
            (SandGrassPatch1, 1),
            (SandGrassPatch2, 1),
            (SandPattern1, 1),
            (SandPattern2, 1),
            (SandPattern3, 1),
            (SandPattern4, 1),
          ]
        ),
      ]
    ),
    (
      index: 1,
      name: GrassPathRight,
      permitted_neighbours: [
        ( Top, [ (Empty, 1), ] ),
        ( Left, [ (Empty, 1), ] ),
        (
          Right,
          [
            (GrassPathLeft, 1),
            (GrassPathHorizontal, 4),
            (GrassPathHorizontalForestRight, 1),
            (GrassPathHorizontalSandRight, 1),
            (SandPathHorizontalGrassLeft, 1),
            (ForestPathHorizontalGrassLeft, 1),
            (GrassPathCross, 1),
          ]
        ),
        ( Bottom, [ (Empty, 1), ] ),
      ]
    ),
    (
      index: 2,
      name: GrassPathHorizontal,
      permitted_neighbours: [
        ( Top, [ (Empty, 1), ] ),
        (
          Left,
          [
            (GrassPathRight, 1),
            (GrassPathHorizontal, 4),
            (GrassPathHorizontalForestLeft, 1),
            (GrassPathHorizontalSandLeft, 1),
            (SandPathHorizontalGrassRight, 1),
            (ForestPathHorizontalGrassRight, 1),
            (GrassPathCross, 1),
          ]
        ),
        (
          Right,
          [
            (GrassPathLeft, 1),
            (GrassPathHorizontal, 4),
            (GrassPathHorizontalForestRight, 1),
            (GrassPathHorizontalSandRight, 1),
            (SandPathHorizontalGrassLeft, 1),
            (ForestPathHorizontalGrassLeft, 1),
            (GrassPathCross, 1),
          ]
        ),
        ( Bottom, [ (Empty, 1), ] ),
      ]
    ),
    (
      index: 3,
      name: GrassPathCross,
      permitted_neighbours: [
        (
          Top,
          [
            (GrassPathBottom, 1),
            (GrassPathVertical, 4),
            (GrassPathVerticalForestTop, 1),
            (GrassPathVerticalSandTop, 1),
            (SandPathVerticalGrassBottom, 1),
            (ForestPathVerticalGrassBottom, 1),
          ]
        ),
        (
          Left,
          [
            (GrassPathRight, 1),
            (GrassPathHorizontal, 4),
            (GrassPathHorizontalForestLeft, 1),
            (GrassPathHorizontalSandLeft, 1),
            (SandPathHorizontalGrassRight, 1),
            (ForestPathHorizontalGrassRight, 1),
          ]
        ),
        (
          Right,
          [
            (GrassPathLeft, 1),
            (GrassPathHorizontal, 4),
            (GrassPathHorizontalForestRight, 1),
            (GrassPathHorizontalSandRight, 1),
            (SandPathHorizontalGrassLeft, 1),
            (ForestPathHorizontalGrassLeft, 1),
          ]
        ),
        (
          Bottom,
          [
            (GrassPathTop, 1),
            (GrassPathVertical, 4),
            (GrassPathVerticalForestBottom, 1),
            (GrassPathVerticalSandBottom, 1),
            (SandPathVerticalGrassTop, 1),
            (ForestPathVerticalGrassTop, 1),
          ]
        ),
      ]
    ),
    (
      index: 4,
      name: GrassPathVertical,
      permitted_neighbours: [
        (
          Top,
          [
            (GrassPathVertical, 6),
            (GrassPathVerticalForestTop, 1),
            (GrassPathVerticalSandTop, 1),
            (SandPathVerticalGrassBottom, 1),
            (ForestPathVerticalGrassBottom, 1),
            (GrassPathBottom, 2),
            (GrassPathCross, 2),
          ]
        ),
        ( Left, [ (Empty, 1), ] ),
        ( Right, [ (Empty, 1), ] ),
        (
          Bottom,
          [
            (GrassPathVertical, 6),
            (GrassPathVerticalForestBottom, 1),
            (GrassPathVerticalSandBottom, 1),
            (SandPathVerticalGrassTop, 1),
            (ForestPathVerticalGrassTop, 1),
            (GrassPathTop, 2),
            (GrassPathCross, 2),
          ]
        ),
      ]
    ),
    (
      index: 5,
      name: GrassPathBottom,
      permitted_neighbours: [
        ( Top, [ (Empty, 1), ] ),
        ( Left, [ (Empty, 1), ] ),
        ( Right, [ (Empty, 1), ] ),
        (
          Bottom,
          [
            (GrassPathCross, 2),
            (GrassPathVertical, 4),
            (GrassPathVerticalSandBottom, 1),
            (GrassPathVerticalForestBottom, 1),
            (SandPathVerticalGrassTop, 1),
            (ForestPathVerticalGrassTop, 1),
            (GrassPathTop, 2),
          ]
        ),
      ]
    ),
    (
      index: 6,
      name: GrassPathTop,
      permitted_neighbours: [
        (
          Top,
          [
            (GrassPathCross, 2),
            (GrassPathVertical, 4),
            (GrassPathVerticalSandTop, 1),
            (GrassPathVerticalForestTop, 1),
            (SandPathVerticalGrassBottom, 1),
            (ForestPathVerticalGrassBottom, 1),
            (GrassPathBottom, 2),
          ]
        ),
        ( Left, [ (Empty, 1), ] ),
        ( Right, [ (Empty, 1), ] ),
        ( Bottom, [ (Empty, 1), ] ),
      ]
    ),
    (
      index: 7,
      name: GrassPathLeft,
      permitted_neighbours: [
        ( Top, [ (Empty, 1), ] ),
        (
          Left,
          [
            (GrassPathRight, 2),
            (GrassPathHorizontal, 4),
            (GrassPathHorizontalSandLeft, 1),
            (GrassPathHorizontalForestLeft, 1),
            (SandPathHorizontalGrassRight, 1),
            (ForestPathHorizontalGrassRight, 1),
            (GrassPathCross, 2),
          ]
        ),
        ( Right, [ (Empty, 1), ] ),
        ( Bottom, [ (Empty, 1), ] ),
      ]
    ),
    (
      index: 8,
      name: GrassPathHorizontalForestRight,
      permitted_neighbours: [
        ( Top, [ (Empty, 1), ] ),
        (
          Left,
          [
            (GrassPathRight, 1),
            (GrassPathHorizontal, 4),
            (GrassPathCross, 1),
          ]
        ),
        (
          Right,
          [
            (ForestPathLeft, 1),
            (ForestPathHorizontal, 4),
            (ForestPathCross, 1),
          ]
        ),
        ( Bottom, [ (Empty, 1), ] ),
      ]
    ),
    (
      index: 9,
      name: GrassPathHorizontalForestLeft,
      permitted_neighbours: [
        ( Top, [ (Empty, 1), ]  ),
        (
          Left,
          [
            (ForestPathRight, 1),
            (ForestPathHorizontal, 4),
            (ForestPathCross, 1),
          ]
        ),
        (
          Right,
          [
            (GrassPathLeft, 1),
            (GrassPathHorizontal, 4),
            (GrassPathCross, 1),
          ]
        ),
        ( Bottom, [ (Empty, 1), ] ),
      ]
    ),
    (
      index: 10,
      name: GrassPathHorizontalSandRight,
      permitted_neighbours: [
        ( Top, [ (Empty, 1), ] ),
        (
          Left,
          [
            (GrassPathRight, 1),
            (GrassPathHorizontal, 4),
            (GrassPathCross, 1),
          ]
        ),
        (
          Right,
          [
            (SandPathRight, 1),
            (SandPathHorizontal, 4),
            (SandPathCross, 1),
          ]
        ),
        ( Bottom, [ (Empty, 1), ] ),
      ]
    ),
    (
      index: 11,
      name: GrassPathHorizontalSandLeft,
      permitted_neighbours: [
        ( Top, [ (Empty, 1), ]  ),
        (
          Left,
          [
            (SandPathRight, 1),
            (SandPathHorizontal, 4),
            (SandPathCross, 1),
          ]
        ),
        (
          Right,
          [
            (GrassPathLeft, 1),
            (GrassPathHorizontal, 4),
            (GrassPathCross, 1),
          ]
        ),
        ( Bottom, [ (Empty, 1), ] ),
      ]
    ),
    (
      index: 12,
      name: GrassPathVerticalForestTop,
      permitted_neighbours: [
        (
          Top,
          [
            (ForestPathVertical, 6),
            (ForestPathBottom, 2),
            (ForestPathCross, 2),
          ]
        ),
        ( Left, [ (Empty, 1), ] ),
        ( Right, [ (Empty, 1), ] ),
        (
          Bottom,
          [
            (GrassPathVertical, 6),
            (GrassPathTop, 2),
            (GrassPathCross, 2),
          ]
        ),
      ]
    ),
    (
      index: 13,
      name: GrassPathVerticalForestBottom,
      permitted_neighbours: [
        (
          Top,
          [
            (GrassPathVertical, 6),
            (GrassPathBottom, 2),
            (GrassPathCross, 2),
          ]
        ),
        ( Left, [ (Empty, 1), ] ),
        ( Right, [ (Empty, 1), ] ),
        (
          Bottom,
          [
            (ForestPathVertical, 6),
            (ForestPathTop, 2),
            (ForestPathCross, 2),
          ]
        ),
      ]
    ),
    (
      index: 14,
      name: GrassPathVerticalSandTop,
      permitted_neighbours: [
        (
          Top,
          [
            (SandPathVertical, 6),
            (SandPathBottom, 2),
            (SandPathCross, 2),
          ]
        ),
        ( Left, [ (Empty, 1), ] ),
        ( Right, [ (Empty, 1), ] ),
        (
          Bottom,
          [
            (GrassPathVertical, 6),
            (GrassPathTop, 2),
            (GrassPathCross, 2),
          ]
        ),
      ]
    ),
    (
      index: 15,
      name: GrassPathVerticalSandBottom,
      permitted_neighbours: [
        (
          Top,
          [
            (GrassPathVertical, 6),
            (GrassPathBottom, 2),
            (GrassPathCross, 2),
          ]
        ),
        ( Left, [ (Empty, 1), ] ),
        ( Right, [ (Empty, 1), ] ),
        (
          Bottom,
          [
            (SandPathVertical, 6),
            (SandPathTop, 2),
            (SandPathCross, 2),
          ]
        ),
      ]
    ),
  ]
)
