(
  terrain: Land3,
  states: [
    (
      index: 1,
      name: Land3RuinRight,
      weight: 3,
      permitted_neighbours: [
        ( Top, [ Empty ] ),
        ( Left, [ Empty ] ),
        (
          Right,
          [
            Land3RuinLeft,
            Land3RuinHorizontal,
            Land3RuinHorizontalLand2Right,
            Land2RubbleHorizontalLand3Left,
            Land3RuinCross,
          ]
        ),
        ( Bottom, [ Empty ] ),
      ]
    ),
    (
      index: 2,
      name: Land3RuinHorizontal,
      weight: 10,
      permitted_neighbours: [
        ( Top, [ Empty ] ),
        (
          Left,
          [
            Land3RuinRight,
            Land3RuinHorizontal,
            Land3RuinHorizontalLand2Left,
            Land2RubbleHorizontalLand3Right,
            Land3RuinCross,
          ]
        ),
        (
          Right,
          [
            Land3RuinLeft,
            Land3RuinHorizontal,
            Land3RuinHorizontalLand2Right,
            Land2RubbleHorizontalLand3Left,
            Land3RuinCross,
          ]
        ),
        ( Bottom, [ Empty ] ),
      ]
    ),
    (
      index: 3,
      name: Land3RuinCross,
      weight: 10,
      permitted_neighbours: [
        (
          Top,
          [
            Land3RuinBottom,
            Land3RuinVertical,
            Land3RuinVerticalLand2Top,
            Land2RubbleVerticalLand3Bottom,
          ]
        ),
        (
          Left,
          [
            Land3RuinRight,
            Land3RuinHorizontal,
            Land3RuinHorizontalLand2Left,
            Land2RubbleHorizontalLand3Right,
          ]
        ),
        (
          Right,
          [
            Land3RuinLeft,
            Land3RuinHorizontal,
            Land3RuinHorizontalLand2Right,
            Land2RubbleHorizontalLand3Left,
          ]
        ),
        (
          Bottom,
          [
            Land3RuinTop,
            Land3RuinVertical,
            Land3RuinVerticalLand2Bottom,
            Land2RubbleVerticalLand3Top,
          ]
        ),
      ]
    ),
    (
      index: 4,
      name: Land3RuinVertical,
      weight: 10,
      permitted_neighbours: [
        (
          Top,
          [
            Land3RuinVertical,
            Land3RuinVerticalLand2Top,
            Land2RubbleVerticalLand3Bottom,
            Land3RuinBottom,
            Land3RuinCross,
          ]
        ),
        ( Left, [ Empty ] ),
        ( Right, [ Empty ] ),
        (
          Bottom,
          [
            Land3RuinVertical,
            Land3RuinVerticalLand2Bottom,
            Land2RubbleVerticalLand3Top,
            Land3RuinTop,
            Land3RuinCross,
          ]
        ),
      ]
    ),
    (
      index: 5,
      name: Land3RuinBottom,
      weight: 3,
      permitted_neighbours: [
        ( Top, [ Empty ] ),
        ( Left, [ Empty ] ),
        ( Right, [ Empty ] ),
        (
          Bottom,
          [
            Land3RuinCross,
            Land3RuinVertical,
            Land3RuinVerticalLand2Bottom,
            Land2RubbleVerticalLand3Top,
            Land3RuinTop,
          ]
        ),
      ]
    ),
    (
      index: 6,
      name: Land3RuinTop,
      weight: 3,
      permitted_neighbours: [
        (
          Top,
          [
            Land3RuinCross,
            Land3RuinVertical,
            Land3RuinVerticalLand2Top,
            Land2RubbleVerticalLand3Bottom,
            Land3RuinBottom,
          ]
        ),
        ( Left, [ Empty ] ),
        ( Right, [ Empty ] ),
        ( Bottom, [ Empty ] ),
      ]
    ),
    (
      index: 7,
      name: Land3RuinLeft,
      weight: 3,
      permitted_neighbours: [
        ( Top, [ Empty ] ),
        (
          Left,
          [
            Land3RuinRight,
            Land3RuinHorizontal,
            Land3RuinHorizontalLand2Left,
            Land2RubbleHorizontalLand3Right,
            Land3RuinCross,
          ]
        ),
        ( Right, [ Empty ] ),
        ( Bottom, [ Empty ] ),
      ]
    ),
    (
      index: 8,
      name: Land3RuinHorizontalLand2Right,
      weight: 10,
      permitted_neighbours: [
        ( Top, [ Empty ] ),
        (
          Left,
          [
            Land3RuinRight,
            Land3RuinHorizontal,
            Land3RuinCross,
          ]
        ),
        (
          Right,
          [
            Land2RubbleLeft,
            Land2RubbleHorizontal,
            Land2RubbleCross,
          ]
        ),
        ( Bottom, [ Empty ] ),
      ]
    ),
    (
      index: 9,
      name: Land3RuinHorizontalLand2Left,
      weight: 10,
      permitted_neighbours: [
        ( Top, [ Empty ]  ),
        (
          Left,
          [
            Land2RubbleRight,
            Land2RubbleHorizontal,
            Land2RubbleCross,
          ]
        ),
        (
          Right,
          [
            Land3RuinLeft,
            Land3RuinHorizontal,
            Land3RuinCross,
          ]
        ),
        ( Bottom, [ Empty ] ),
      ]
    ),
    (
      index: 10,
      name: Land3RuinVerticalLand2Top,
      weight: 10,
      permitted_neighbours: [
        (
          Top,
          [
            Land2RubbleVertical,
            Land2RubbleBottom,
            Land2RubbleCross,
          ]
        ),
        ( Left, [ Empty ] ),
        ( Right, [ Empty ] ),
        (
          Bottom,
          [
            Land3RuinVertical,
            Land3RuinTop,
            Land3RuinCross,
          ]
        ),
      ]
    ),
    (
      index: 11,
      name: Land3RuinVerticalLand2Bottom,
      weight: 10,
      permitted_neighbours: [
        (
          Top,
          [
            Land3RuinVertical,
            Land3RuinBottom,
            Land3RuinCross,
          ]
        ),
        ( Left, [ Empty ] ),
        ( Right, [ Empty ] ),
        (
          Bottom,
          [
            Land2RubbleVertical,
            Land2RubbleTop,
            Land2RubbleCross,
          ]
        ),
      ]
    ),
    (
      index: 16,
      name: Land3IndividualObject1,
      weight: 10,
      permitted_neighbours: [
        ( Top, [ Empty, Land3Tree1, Land3Tree2, Land3Tree3, Land3Tree4, Land3IndividualObject4, Land3IndividualObject5, Land3IndividualObject6, PathRight, PathHorizontal, PathTop, PathLeft, PathTopRight, PathTopLeft, PathTopHorizontal, PathBottomHorizontal, ] ),
        ( Right, [ Empty, Land3Tree1, Land3Tree2, Land3Tree3, Land3Tree4, Land3IndividualObject4, Land3IndividualObject5, Land3IndividualObject6, PathRight, PathVertical, PathBottom, PathTop, PathTopRight, PathBottomRight, PathLeftVertical, PathRightVertical, SwampRightFill, ] ),
        ( Bottom, [ Empty, Land3Tree1, Land3Tree2, Land3Tree3, Land3Tree4, Land3IndividualObject4, Land3IndividualObject5, Land3IndividualObject6, PathRight, PathHorizontal, PathBottom, PathLeft, PathBottomRight, PathBottomLeft, PathBottomHorizontal, SwampBottomFill, ] ),
        ( Left, [ Empty, Land3Tree1, Land3Tree2, Land3Tree3, Land3Tree4, Land3IndividualObject4, Land3IndividualObject5, Land3IndividualObject6, PathVertical, PathBottom, PathTop, PathLeft, PathTopLeft, PathBottomLeft, PathLeftVertical, SwampLeftFill, ] ),
      ]
    ),
    (
      index: 17,
      name: Land3IndividualObject2,
      weight: 10,
      permitted_neighbours: [
        ( Top, [ Empty, Land3Tree1, Land3Tree2, Land3Tree3, Land3Tree4, Land3Tree5, Land3IndividualObject4, Land3IndividualObject5, Land3IndividualObject6, PathRight, PathHorizontal, PathTop, PathLeft, PathTopRight, PathTopLeft, PathTopHorizontal, PathBottomHorizontal, ] ),
        ( Right, [ Empty, Land3Tree1, Land3Tree2, Land3Tree3, Land3Tree4, Land3Tree5, Land3IndividualObject4, Land3IndividualObject5, Land3IndividualObject6, PathRight, PathVertical, PathBottom, PathTop, PathTopRight, PathBottomRight, PathLeftVertical, PathRightVertical, SwampRightFill, ] ),
        ( Bottom, [ Empty, Land3Tree1, Land3Tree2, Land3Tree3, Land3Tree4, Land3Tree5, Land3IndividualObject4, Land3IndividualObject5, Land3IndividualObject6, PathRight, PathHorizontal, PathBottom, PathLeft, PathBottomRight, PathBottomLeft, PathBottomHorizontal, SwampBottomFill, ] ),
        ( Left, [ Empty, Land3Tree1, Land3Tree2, Land3Tree3, Land3Tree4, Land3Tree5, Land3IndividualObject4, Land3IndividualObject5, Land3IndividualObject6, PathVertical, PathBottom, PathTop, PathLeft, PathTopLeft, PathBottomLeft, PathLeftVertical, SwampLeftFill, ] ),
      ]
    ),
    (
      index: 18,
      name: Land3IndividualObject3,
      weight: 10,
      permitted_neighbours: [
        ( Top, [ Empty, Land3Tree1, Land3Tree2, Land3Tree3, Land3Tree4, Land3Tree5, Land3IndividualObject4, Land3IndividualObject5, Land3IndividualObject6, PathRight, PathHorizontal, PathTop, PathLeft, PathTopRight, PathTopLeft, PathTopHorizontal, PathBottomHorizontal, ] ),
        ( Right, [ Empty, Land3Tree1, Land3Tree2, Land3Tree3, Land3Tree4, Land3Tree5, Land3IndividualObject4, Land3IndividualObject5, Land3IndividualObject6, PathRight, PathVertical, PathBottom, PathTop, PathTopRight, PathBottomRight, PathLeftVertical, PathRightVertical, SwampRightFill, ] ),
        ( Bottom, [ Empty, Land3Tree1, Land3Tree2, Land3Tree3, Land3Tree4, Land3Tree5, Land3IndividualObject4, Land3IndividualObject5, Land3IndividualObject6, PathRight, PathHorizontal, PathBottom, PathLeft, PathBottomRight, PathBottomLeft, PathBottomHorizontal, SwampBottomFill, ] ),
        ( Left, [ Empty, Land3Tree1, Land3Tree2, Land3Tree3, Land3Tree4, Land3Tree5, Land3IndividualObject4, Land3IndividualObject5, Land3IndividualObject6, PathVertical, PathBottom, PathTop, PathLeft, PathTopLeft, PathBottomLeft, PathLeftVertical, SwampLeftFill, ] ),
      ]
    ),
    (
      index: 19,
      name: Land3IndividualObject4,
      weight: 10,
      permitted_neighbours: [
        ( Top, [ Empty, Land3Tree1, Land3Tree2, Land3Tree3, Land3Tree4, Land3Tree5, Land3IndividualObject1, Land3IndividualObject2, Land3IndividualObject3, Land3IndividualObject5, Land3IndividualObject6, PathRight, PathHorizontal, PathTop, PathLeft, PathTopRight, PathTopLeft, PathTopHorizontal, PathBottomHorizontal, ] ),
        ( Right, [ Empty, Land3Tree1, Land3Tree2, Land3Tree3, Land3Tree4, Land3Tree5, Land3IndividualObject1, Land3IndividualObject2, Land3IndividualObject3, Land3IndividualObject5, Land3IndividualObject6, PathRight, PathVertical, PathBottom, PathTop, PathTopRight, PathBottomRight, PathLeftVertical, PathRightVertical, SwampRightFill, ] ),
        ( Bottom, [ Empty, Land3Tree1, Land3Tree2, Land3Tree3, Land3Tree4, Land3Tree5, Land3IndividualObject1, Land3IndividualObject2, Land3IndividualObject3, Land3IndividualObject5, Land3IndividualObject6, PathRight, PathHorizontal, PathBottom, PathLeft, PathBottomRight, PathBottomLeft, PathBottomHorizontal, SwampBottomFill, ] ),
        ( Left, [ Empty, Land3Tree1, Land3Tree2, Land3Tree3, Land3Tree4, Land3Tree5, Land3IndividualObject1, Land3IndividualObject2, Land3IndividualObject3, Land3IndividualObject5, Land3IndividualObject6, PathVertical, PathBottom, PathTop, PathLeft, PathTopLeft, PathBottomLeft, PathLeftVertical, SwampLeftFill, ] ),
      ]
    ),
    (
      index: 20,
      name: Land3IndividualObject5,
      weight: 20,
      permitted_neighbours: [
        ( Top, [ Empty, Land3Tree1, Land3Tree2, Land3Tree3, Land3Tree4, Land3Tree5, Land3IndividualObject1, Land3IndividualObject2, Land3IndividualObject3, Land3IndividualObject4, Land3IndividualObject6, PathRight, PathHorizontal, PathTop, PathLeft, PathTopRight, PathTopLeft, PathTopHorizontal, PathBottomHorizontal, ] ),
        ( Right, [ Empty, Land3Tree1, Land3Tree2, Land3Tree3, Land3Tree4, Land3Tree5, Land3IndividualObject1, Land3IndividualObject2, Land3IndividualObject3, Land3IndividualObject4, Land3IndividualObject6, PathRight, PathVertical, PathBottom, PathTop, PathTopRight, PathBottomRight, PathLeftVertical, PathRightVertical, SwampRightFill, ] ),
        ( Bottom, [ Empty, Land3Tree1, Land3Tree2, Land3Tree3, Land3Tree4, Land3Tree5, Land3IndividualObject1, Land3IndividualObject2, Land3IndividualObject3, Land3IndividualObject4, Land3IndividualObject6, PathRight, PathHorizontal, PathBottom, PathLeft, PathBottomRight, PathBottomLeft, PathBottomHorizontal, SwampBottomFill, ] ),
        ( Left, [ Empty, Land3Tree1, Land3Tree2, Land3Tree3, Land3Tree4, Land3Tree5, Land3IndividualObject1, Land3IndividualObject2, Land3IndividualObject3, Land3IndividualObject4, Land3IndividualObject6, PathVertical, PathBottom, PathTop, PathLeft, PathTopLeft, PathBottomLeft, PathLeftVertical, SwampLeftFill, ] ),
      ]
    ),
    (
      index: 21,
      name: Land3IndividualObject6,
      weight: 20,
      permitted_neighbours: [
        ( Top, [ Empty, Land3Tree1, Land3Tree2, Land3Tree3, Land3Tree4, Land3Tree5, Land3IndividualObject1, Land3IndividualObject2, Land3IndividualObject3, Land3IndividualObject4, Land3IndividualObject5, PathRight, PathHorizontal, PathTop, PathLeft, PathTopRight, PathTopLeft, PathTopHorizontal, PathBottomHorizontal, ] ),
        ( Right, [ Empty, Land3Tree1, Land3Tree2, Land3Tree3, Land3Tree4, Land3Tree5, Land3IndividualObject1, Land3IndividualObject2, Land3IndividualObject3, Land3IndividualObject4, Land3IndividualObject5, PathRight, PathVertical, PathBottom, PathTop, PathTopRight, PathBottomRight, PathLeftVertical, PathRightVertical, SwampRightFill, ] ),
        ( Bottom, [ Empty, Land3Tree1, Land3Tree2, Land3Tree3, Land3Tree4, Land3Tree5, Land3IndividualObject1, Land3IndividualObject2, Land3IndividualObject3, Land3IndividualObject4, Land3IndividualObject5, PathRight, PathHorizontal, PathBottom, PathLeft, PathBottomRight, PathBottomLeft, PathBottomHorizontal, SwampBottomFill, ] ),
        ( Left, [ Empty, Land3Tree1, Land3Tree2, Land3Tree3, Land3Tree4, Land3Tree5, Land3IndividualObject1, Land3IndividualObject2, Land3IndividualObject3, Land3IndividualObject4, Land3IndividualObject5, PathVertical, PathBottom, PathTop, PathLeft, PathTopLeft, PathBottomLeft, PathLeftVertical, SwampLeftFill, ] ),
      ]
    ),
    (
      index: 1,
      name: Land3Tree1,
      weight: 100,
      permitted_neighbours: [
        ( Top, [ Empty, Land3Tree2, Land3Tree3, Land3Tree4, Land3Tree5, Land3IndividualObject1, Land3IndividualObject2, Land3IndividualObject3, Land3IndividualObject4, Land3IndividualObject5, Land3IndividualObject6, ] ),
        ( Right, [ Empty, Land3Tree2, Land3Tree3, Land3Tree4, Land3Tree5, Land3IndividualObject1, Land3IndividualObject2, Land3IndividualObject3, Land3IndividualObject4, Land3IndividualObject5, Land3IndividualObject6, SwampRightFill, ] ),
        ( Bottom, [ Empty, Land3Tree2, Land3Tree3, Land3Tree4, Land3Tree5, Land3IndividualObject1, Land3IndividualObject2, Land3IndividualObject3, Land3IndividualObject4, Land3IndividualObject5, Land3IndividualObject6, SwampBottomFill, ] ),
        ( Left, [ Empty, Land3Tree2, Land3Tree3, Land3Tree4, Land3Tree5, Land3IndividualObject1, Land3IndividualObject2, Land3IndividualObject3, Land3IndividualObject4, Land3IndividualObject5, Land3IndividualObject6, SwampLeftFill, ] ),
      ]
    ),
    (
      index: 2,
      name: Land3Tree2,
      weight: 100,
      permitted_neighbours: [
        ( Top, [ Empty, Land3Tree1, Land3Tree3, Land3Tree4, Land3Tree5, Land3IndividualObject1, Land3IndividualObject2, Land3IndividualObject3, Land3IndividualObject4, Land3IndividualObject5, Land3IndividualObject6, ] ),
        ( Right, [ Empty, Land3Tree1, Land3Tree3, Land3Tree4, Land3Tree5, Land3IndividualObject1, Land3IndividualObject2, Land3IndividualObject3, Land3IndividualObject4, Land3IndividualObject5, Land3IndividualObject6, SwampRightFill, ] ),
        ( Bottom, [ Empty, Land3Tree1, Land3Tree3, Land3Tree4, Land3Tree5, Land3IndividualObject1, Land3IndividualObject2, Land3IndividualObject3, Land3IndividualObject4, Land3IndividualObject5, Land3IndividualObject6, SwampBottomFill, ] ),
        ( Left, [ Empty, Land3Tree1, Land3Tree3, Land3Tree4, Land3Tree5, Land3IndividualObject1, Land3IndividualObject2, Land3IndividualObject3, Land3IndividualObject4, Land3IndividualObject5, Land3IndividualObject6, SwampLeftFill, ] ),
      ]
    ),
    (
      index: 3,
      name: Land3Tree3,
      weight: 100,
      permitted_neighbours: [
        ( Top, [ Empty, Land3Tree2, Land3Tree1, Land3Tree4, Land3Tree5, Land3IndividualObject1, Land3IndividualObject2, Land3IndividualObject3, Land3IndividualObject4, Land3IndividualObject5, Land3IndividualObject6, ] ),
        ( Right, [ Empty, Land3Tree2, Land3Tree1, Land3Tree4, Land3Tree5, Land3IndividualObject1, Land3IndividualObject2, Land3IndividualObject3, Land3IndividualObject4, Land3IndividualObject5, Land3IndividualObject6, SwampRightFill, ] ),
        ( Bottom, [ Empty, Land3Tree2, Land3Tree1, Land3Tree4, Land3Tree5, Land3IndividualObject1, Land3IndividualObject2, Land3IndividualObject3, Land3IndividualObject4, Land3IndividualObject5, Land3IndividualObject6, SwampBottomFill, ] ),
        ( Left, [ Empty, Land3Tree2, Land3Tree1, Land3Tree4, Land3Tree5, Land3IndividualObject1, Land3IndividualObject2, Land3IndividualObject3, Land3IndividualObject4, Land3IndividualObject5, Land3IndividualObject6, SwampLeftFill, ] ),
      ]
    ),
    (
      index: 4,
      name: Land3Tree4,
      weight: 100,
      permitted_neighbours: [
        ( Top, [ Empty, Land3Tree2, Land3Tree1, Land3Tree3, Land3Tree5, Land3IndividualObject1, Land3IndividualObject2, Land3IndividualObject3, Land3IndividualObject4, Land3IndividualObject5, Land3IndividualObject6, ] ),
        ( Right, [ Empty, Land3Tree2, Land3Tree1, Land3Tree3, Land3Tree5, Land3IndividualObject1, Land3IndividualObject2, Land3IndividualObject3, Land3IndividualObject4, Land3IndividualObject5, Land3IndividualObject6, SwampRightFill, ] ),
        ( Bottom, [ Empty, Land3Tree2, Land3Tree1, Land3Tree3, Land3Tree5, Land3IndividualObject1, Land3IndividualObject2, Land3IndividualObject3, Land3IndividualObject4, Land3IndividualObject5, Land3IndividualObject6, SwampBottomFill, ] ),
        ( Left, [ Empty, Land3Tree2, Land3Tree1, Land3Tree3, Land3Tree5, Land3IndividualObject1, Land3IndividualObject2, Land3IndividualObject3, Land3IndividualObject4, Land3IndividualObject5, Land3IndividualObject6, SwampLeftFill, ] ),
      ]
    ),
    (
      index: 5,
      name: Land3Tree5,
      weight: 100,
      permitted_neighbours: [
        ( Top, [ Empty, Land3Tree2, Land3Tree1, Land3Tree3, Land3Tree4, Land3IndividualObject2, Land3IndividualObject3, Land3IndividualObject4, Land3IndividualObject5, Land3IndividualObject6, ] ),
        ( Right, [ Empty, Land3Tree2, Land3Tree1, Land3Tree3, Land3Tree4, Land3IndividualObject2, Land3IndividualObject3, Land3IndividualObject4, Land3IndividualObject5, Land3IndividualObject6, SwampRightFill, ] ),
        ( Bottom, [ Empty, Land3Tree2, Land3Tree1, Land3Tree3, Land3Tree4, Land3IndividualObject2, Land3IndividualObject3, Land3IndividualObject4, Land3IndividualObject5, Land3IndividualObject6, SwampBottomFill, ] ),
        ( Left, [ Empty, Land3Tree2, Land3Tree1, Land3Tree3, Land3Tree4, Land3IndividualObject2, Land3IndividualObject3, Land3IndividualObject4, Land3IndividualObject5, Land3IndividualObject6, SwampLeftFill, ] ),
      ]
    ),
    (
      index: 1,
      name: SwampInnerCornerBottomRight,
      weight: 5,
      permitted_neighbours: [
        ( Top, [ Empty, ] ),
        ( Right, [ SwampInnerCornerBottomLeft, SwampOuterCornerTopLeft, SwampBottomFill, ] ),
        ( Bottom, [ SwampInnerCornerTopRight, SwampOuterCornerTopLeft, SwampRightFill, ] ),
        ( Left, [ Empty, ] ),
      ]
    ),
    (
      index: 2,
      name: SwampInnerCornerTopRight,
      weight: 5,
      permitted_neighbours: [
        ( Top, [ SwampInnerCornerBottomRight, SwampOuterCornerBottomLeft, SwampRightFill, ] ),
        ( Right, [ SwampOuterCornerBottomLeft, SwampTopFill, SwampInnerCornerTopLeft, ] ),
        ( Bottom, [ Empty, ] ),
        ( Left, [ Empty, ] ),
      ]
    ),
    (
      index: 3,
      name: SwampInnerCornerBottomLeft,
      weight: 5,
      permitted_neighbours: [
        ( Top, [ Empty, ] ),
        ( Right, [ Empty, ] ),
        ( Bottom, [ SwampOuterCornerTopRight, SwampLeftFill, SwampInnerCornerTopLeft, ] ),
        ( Left, [ SwampInnerCornerBottomRight, SwampOuterCornerTopRight, SwampBottomFill, ] ),
      ]
    ),
    (
      index: 4,
      name: SwampInnerCornerTopLeft,
      weight: 5,
      permitted_neighbours: [
        ( Top, [ SwampInnerCornerBottomLeft, SwampOuterCornerBottomRight, SwampLeftFill, ] ),
        ( Right, [ Empty, ] ),
        ( Bottom, [ Empty, ] ),
        ( Left, [ SwampTopFill, SwampOuterCornerBottomRight, SwampInnerCornerTopRight, ] ),
      ]
    ),
    (
      index: 5,
      name: SwampOuterCornerTopLeft,
      weight: 5,
      permitted_neighbours: [
        ( Top, [ SwampInnerCornerBottomRight, SwampRightFill, SwampOuterCornerBottomLeft, ] ),
        ( Right, [ SwampFill, SwampLeftFill, SwampOuterCornerTopRight, SwampOuterCornerBottomRight, ] ),
        ( Bottom, [ SwampFill, SwampTopFill, SwampOuterCornerBottomLeft, SwampOuterCornerBottomRight, ] ),
        ( Left, [ SwampInnerCornerBottomRight, SwampBottomFill, SwampOuterCornerTopRight, ] ),
      ]
    ),
    (
      index: 6,
      name: SwampOuterCornerBottomLeft,
      weight: 5,
      permitted_neighbours: [
        ( Top, [ SwampOuterCornerTopLeft, SwampOuterCornerTopRight, SwampBottomFill, SwampFill, ] ),
        ( Right, [ SwampFill, SwampLeftFill, SwampOuterCornerTopRight, SwampOuterCornerBottomRight,  ] ),
        ( Bottom, [ SwampInnerCornerTopRight, SwampRightFill, SwampOuterCornerTopLeft, ] ),
        ( Left, [ SwampOuterCornerBottomRight, SwampInnerCornerTopRight, SwampTopFill, ] ),
      ]
    ),
    (
      index: 7,
      name: SwampOuterCornerTopRight,
      weight: 5,
      permitted_neighbours: [
        ( Top, [ SwampLeftFill, SwampOuterCornerBottomRight, SwampInnerCornerBottomLeft, ] ),
        ( Right, [ SwampBottomFill, SwampOuterCornerTopLeft, SwampInnerCornerBottomLeft, ] ),
        ( Bottom, [ SwampFill, SwampTopFill, SwampOuterCornerBottomLeft, SwampOuterCornerBottomRight, ] ),
        ( Left, [ SwampFill, SwampRightFill, SwampOuterCornerBottomLeft, SwampOuterCornerTopLeft, ] ),
      ]
    ),
    (
      index: 8,
      name: SwampOuterCornerBottomRight,
      weight: 5,
      permitted_neighbours: [
        ( Top, [ SwampFill, SwampBottomFill, SwampOuterCornerTopRight, SwampOuterCornerTopLeft, ] ),
        ( Right, [ SwampOuterCornerBottomLeft, SwampInnerCornerTopLeft, SwampTopFill, ] ),
        ( Bottom, [ SwampOuterCornerTopRight, SwampInnerCornerTopLeft, SwampLeftFill, ] ),
        ( Left, [ SwampFill, SwampRightFill, SwampOuterCornerBottomLeft, SwampOuterCornerTopLeft, ] ),
      ]
    ),
    (
      index: 9,
      name: SwampBottomFill,
      weight: 5,
      permitted_neighbours: [
        ( Top, [ Empty, Land3Tree1, Land3Tree2, Land3Tree3, Land3Tree4, Land3Tree5, Land3IndividualObject1, Land3IndividualObject2, Land3IndividualObject3, Land3IndividualObject4, Land3IndividualObject5, Land3IndividualObject6, ] ),
        ( Right, [ SwampBottomFill, SwampOuterCornerTopLeft, SwampInnerCornerBottomLeft, ] ),
        ( Bottom, [ SwampTopFill, SwampFill, SwampOuterCornerBottomRight, SwampOuterCornerBottomLeft, ] ),
        ( Left, [ SwampBottomFill, SwampOuterCornerTopRight, SwampInnerCornerBottomRight, ] ),
      ]
    ),
    (
      index: 10,
      name: SwampTopFill,
      weight: 5,
      permitted_neighbours: [
        ( Top, [ SwampBottomFill, SwampFill, SwampOuterCornerTopRight, SwampOuterCornerTopLeft, ] ),
        ( Right, [ SwampTopFill, SwampOuterCornerBottomLeft, SwampInnerCornerTopLeft, ] ),
        ( Bottom, [ Empty, ] ),
        ( Left, [ SwampTopFill, SwampOuterCornerBottomRight, SwampInnerCornerTopRight, ] ),
      ]
    ),
    (
      index: 11,
      name: SwampLeftFill,
      weight: 5,
      permitted_neighbours: [
        ( Top, [ SwampOuterCornerBottomRight, SwampInnerCornerBottomLeft, SwampLeftFill, ] ),
        ( Right, [ Empty, Land3Tree1, Land3Tree2, Land3Tree3, Land3Tree4, Land3Tree5, Land3IndividualObject1, Land3IndividualObject2, Land3IndividualObject3, Land3IndividualObject4, Land3IndividualObject5, Land3IndividualObject6, ] ),
        ( Bottom, [ SwampLeftFill, SwampOuterCornerTopRight, SwampInnerCornerTopLeft, ] ),
        ( Left, [ SwampRightFill, SwampOuterCornerBottomLeft, SwampFill, SwampOuterCornerTopLeft, ] ),
      ]
    ),
    (
      index: 12,
      name: SwampRightFill,
      weight: 5,
      permitted_neighbours: [
        ( Top, [ SwampInnerCornerBottomRight, SwampRightFill, SwampOuterCornerBottomLeft, ] ),
        ( Right, [ SwampFill, SwampLeftFill, SwampOuterCornerBottomRight, SwampOuterCornerTopRight, ] ),
        ( Bottom, [ SwampOuterCornerTopLeft, SwampInnerCornerTopRight, SwampRightFill, ] ),
        ( Left, [ Empty, Land3Tree1, Land3Tree2, Land3Tree3, Land3Tree4, Land3Tree5, Land3IndividualObject1, Land3IndividualObject2, Land3IndividualObject3, Land3IndividualObject4, Land3IndividualObject5, Land3IndividualObject6, ] ),
      ]
    ),
    (
      index: 13,
      name: SwampFill,
      weight: 10,
      permitted_neighbours: [
        ( Top, [ SwampFill, SwampBottomFill, SwampOuterCornerTopLeft, SwampOuterCornerTopRight, ] ),
        ( Right, [ SwampFill, SwampLeftFill, SwampOuterCornerBottomRight, SwampOuterCornerTopRight, ] ),
        ( Bottom, [ SwampFill, SwampTopFill, SwampOuterCornerBottomRight, SwampOuterCornerBottomLeft, ] ),
        ( Left, [ SwampFill, SwampRightFill, SwampOuterCornerBottomLeft, SwampOuterCornerTopLeft, ] ),
      ]
    ),
  ]
)