(
  terrain: Land3,
  states: [
    (
      index: 1,
      name: ForestRuinRight,
      weight: 3,
      permitted_neighbours: [
        ( Top, [ Empty ] ),
        ( Left, [ Empty ] ),
        (
          Right,
          [
            ForestRuinLeft,
            ForestRuinHorizontal,
            ForestRuinHorizontalGrassRight,
            GrassRubbleHorizontalForestLeft,
            ForestRuinCross,
          ]
        ),
        ( Bottom, [ Empty ] ),
      ]
    ),
    (
      index: 2,
      name: ForestRuinHorizontal,
      weight: 10,
      permitted_neighbours: [
        ( Top, [ Empty ] ),
        (
          Left,
          [
            ForestRuinRight,
            ForestRuinHorizontal,
            ForestRuinHorizontalGrassLeft,
            GrassRubbleHorizontalForestRight,
            ForestRuinCross,
          ]
        ),
        (
          Right,
          [
            ForestRuinLeft,
            ForestRuinHorizontal,
            ForestRuinHorizontalGrassRight,
            GrassRubbleHorizontalForestLeft,
            ForestRuinCross,
          ]
        ),
        ( Bottom, [ Empty ] ),
      ]
    ),
    (
      index: 3,
      name: ForestRuinCross,
      weight: 10,
      permitted_neighbours: [
        (
          Top,
          [
            ForestRuinBottom,
            ForestRuinVertical,
            ForestRuinVerticalGrassTop,
            GrassRubbleVerticalForestBottom,
          ]
        ),
        (
          Left,
          [
            ForestRuinRight,
            ForestRuinHorizontal,
            ForestRuinHorizontalGrassLeft,
            GrassRubbleHorizontalForestRight,
          ]
        ),
        (
          Right,
          [
            ForestRuinLeft,
            ForestRuinHorizontal,
            ForestRuinHorizontalGrassRight,
            GrassRubbleHorizontalForestLeft,
          ]
        ),
        (
          Bottom,
          [
            ForestRuinTop,
            ForestRuinVertical,
            ForestRuinVerticalGrassBottom,
            GrassRubbleVerticalForestTop,
          ]
        ),
      ]
    ),
    (
      index: 4,
      name: ForestRuinVertical,
      weight: 10,
      permitted_neighbours: [
        (
          Top,
          [
            ForestRuinVertical,
            ForestRuinVerticalGrassTop,
            GrassRubbleVerticalForestBottom,
            ForestRuinBottom,
            ForestRuinCross,
          ]
        ),
        ( Left, [ Empty ] ),
        ( Right, [ Empty ] ),
        (
          Bottom,
          [
            ForestRuinVertical,
            ForestRuinVerticalGrassBottom,
            GrassRubbleVerticalForestTop,
            ForestRuinTop,
            ForestRuinCross,
          ]
        ),
      ]
    ),
    (
      index: 5,
      name: ForestRuinBottom,
      weight: 3,
      permitted_neighbours: [
        ( Top, [ Empty ] ),
        ( Left, [ Empty ] ),
        ( Right, [ Empty ] ),
        (
          Bottom,
          [
            ForestRuinCross,
            ForestRuinVertical,
            ForestRuinVerticalGrassBottom,
            GrassRubbleVerticalForestTop,
            ForestRuinTop,
          ]
        ),
      ]
    ),
    (
      index: 6,
      name: ForestRuinTop,
      weight: 3,
      permitted_neighbours: [
        (
          Top,
          [
            ForestRuinCross,
            ForestRuinVertical,
            ForestRuinVerticalGrassTop,
            GrassRubbleVerticalForestBottom,
            ForestRuinBottom,
          ]
        ),
        ( Left, [ Empty ] ),
        ( Right, [ Empty ] ),
        ( Bottom, [ Empty ] ),
      ]
    ),
    (
      index: 7,
      name: ForestRuinLeft,
      weight: 3,
      permitted_neighbours: [
        ( Top, [ Empty ] ),
        (
          Left,
          [
            ForestRuinRight,
            ForestRuinHorizontal,
            ForestRuinHorizontalGrassLeft,
            GrassRubbleHorizontalForestRight,
            ForestRuinCross,
          ]
        ),
        ( Right, [ Empty ] ),
        ( Bottom, [ Empty ] ),
      ]
    ),
    (
      index: 8,
      name: ForestRuinHorizontalGrassRight,
      weight: 10,
      permitted_neighbours: [
        ( Top, [ Empty ] ),
        (
          Left,
          [
            ForestRuinRight,
            ForestRuinHorizontal,
            ForestRuinCross,
          ]
        ),
        (
          Right,
          [
            GrassRubbleLeft,
            GrassRubbleHorizontal,
            GrassRubbleCross,
          ]
        ),
        ( Bottom, [ Empty ] ),
      ]
    ),
    (
      index: 9,
      name: ForestRuinHorizontalGrassLeft,
      weight: 10,
      permitted_neighbours: [
        ( Top, [ Empty ]  ),
        (
          Left,
          [
            GrassRubbleRight,
            GrassRubbleHorizontal,
            GrassRubbleCross,
          ]
        ),
        (
          Right,
          [
            ForestRuinLeft,
            ForestRuinHorizontal,
            ForestRuinCross,
          ]
        ),
        ( Bottom, [ Empty ] ),
      ]
    ),
    (
      index: 10,
      name: ForestRuinVerticalGrassTop,
      weight: 10,
      permitted_neighbours: [
        (
          Top,
          [
            GrassRubbleVertical,
            GrassRubbleBottom,
            GrassRubbleCross,
          ]
        ),
        ( Left, [ Empty ] ),
        ( Right, [ Empty ] ),
        (
          Bottom,
          [
            ForestRuinVertical,
            ForestRuinTop,
            ForestRuinCross,
          ]
        ),
      ]
    ),
    (
      index: 11,
      name: ForestRuinVerticalGrassBottom,
      weight: 10,
      permitted_neighbours: [
        (
          Top,
          [
            ForestRuinVertical,
            ForestRuinBottom,
            ForestRuinCross,
          ]
        ),
        ( Left, [ Empty ] ),
        ( Right, [ Empty ] ),
        (
          Bottom,
          [
            GrassRubbleVertical,
            GrassRubbleTop,
            GrassRubbleCross,
          ]
        ),
      ]
    ),
    (
      index: 16,
      name: ForestBush1,
      weight: 10,
      permitted_neighbours: [
        ( Top, [ Empty, ForestTree1, ForestTree2, ForestTree3, ForestTree4, ForestBush4, PathRight, PathHorizontal, PathTop, PathLeft, PathTopRight, PathTopLeft, PathTopHorizontal, PathBottomHorizontal, ] ),
        ( Right, [ Empty, ForestTree1, ForestTree2, ForestTree3, ForestTree4, ForestBush4, PathRight, PathVertical, PathBottom, PathTop, PathTopRight, PathBottomRight, PathLeftVertical, PathRightVertical, ] ),
        ( Bottom, [ Empty, ForestTree1, ForestTree2, ForestTree3, ForestTree4, ForestBush4, PathRight, PathHorizontal, PathBottom, PathLeft, PathBottomRight, PathBottomLeft, PathBottomHorizontal, ] ),
        ( Left, [ Empty, ForestTree1, ForestTree2, ForestTree3, ForestTree4, ForestBush4, PathVertical, PathBottom, PathTop, PathLeft, PathTopLeft, PathBottomLeft, PathLeftVertical, ] ),
      ]
    ),
    (
      index: 17,
      name: ForestBush2,
      weight: 10,
      permitted_neighbours: [
        ( Top, [ Empty, ForestTree1, ForestTree2, ForestTree3, ForestTree4, ForestTree4, ForestBush4, PathRight, PathHorizontal, PathTop, PathLeft, PathTopRight, PathTopLeft, PathTopHorizontal, PathBottomHorizontal, ] ),
        ( Right, [ Empty, ForestTree1, ForestTree2, ForestTree3, ForestTree4, ForestTree4, ForestBush4, PathRight, PathVertical, PathBottom, PathTop, PathTopRight, PathBottomRight, PathLeftVertical, PathRightVertical, ] ),
        ( Bottom, [ Empty, ForestTree1, ForestTree2, ForestTree3, ForestTree4, ForestTree4, ForestBush4, PathRight, PathHorizontal, PathBottom, PathLeft, PathBottomRight, PathBottomLeft, PathBottomHorizontal, ] ),
        ( Left, [ Empty, ForestTree1, ForestTree2, ForestTree3, ForestTree4, ForestTree4, ForestBush4, PathVertical, PathBottom, PathTop, PathLeft, PathTopLeft, PathBottomLeft, PathLeftVertical, ] ),
      ]
    ),
    (
      index: 18,
      name: ForestBush3,
      weight: 10,
      permitted_neighbours: [
        ( Top, [ Empty, ForestTree1, ForestTree2, ForestTree3, ForestTree4, ForestTree4, ForestBush4, PathRight, PathHorizontal, PathTop, PathLeft, PathTopRight, PathTopLeft, PathTopHorizontal, PathBottomHorizontal, ] ),
        ( Right, [ Empty, ForestTree1, ForestTree2, ForestTree3, ForestTree4, ForestTree4, ForestBush4, PathRight, PathVertical, PathBottom, PathTop, PathTopRight, PathBottomRight, PathLeftVertical, PathRightVertical, ] ),
        ( Bottom, [ Empty, ForestTree1, ForestTree2, ForestTree3, ForestTree4, ForestTree4, ForestBush4, PathRight, PathHorizontal, PathBottom, PathLeft, PathBottomRight, PathBottomLeft, PathBottomHorizontal, ] ),
        ( Left, [ Empty, ForestTree1, ForestTree2, ForestTree3, ForestTree4, ForestTree4, ForestBush4, PathVertical, PathBottom, PathTop, PathLeft, PathTopLeft, PathBottomLeft, PathLeftVertical, ] ),
      ]
    ),
    (
      index: 19,
      name: ForestBush4,
      weight: 10,
      permitted_neighbours: [
        ( Top, [ Empty, ForestTree1, ForestTree2, ForestTree3, ForestTree4, ForestTree5, ForestBush1, ForestBush2, ForestBush3, PathRight, PathHorizontal, PathTop, PathLeft, PathTopRight, PathTopLeft, PathTopHorizontal, PathBottomHorizontal, ] ),
        ( Right, [ Empty, ForestTree1, ForestTree2, ForestTree3, ForestTree4, ForestTree5, ForestBush1, ForestBush2, ForestBush3, PathRight, PathVertical, PathBottom, PathTop, PathTopRight, PathBottomRight, PathLeftVertical, PathRightVertical, ] ),
        ( Bottom, [ Empty, ForestTree1, ForestTree2, ForestTree3, ForestTree4, ForestTree5, ForestBush1, ForestBush2, ForestBush3, PathRight, PathHorizontal, PathBottom, PathLeft, PathBottomRight, PathBottomLeft, PathBottomHorizontal, ] ),
        ( Left, [ Empty, ForestTree1, ForestTree2, ForestTree3, ForestTree4, ForestTree5, ForestBush1, ForestBush2, ForestBush3, PathVertical, PathBottom, PathTop, PathLeft, PathTopLeft, PathBottomLeft, PathLeftVertical, ] ),
      ]
    ),
    (
      index: 1,
      name: ForestTree1,
      weight: 100,
      permitted_neighbours: [
        ( Top, [ Empty, ForestTree2, ForestTree3, ForestTree4, ForestTree5, ForestBush1, ForestBush2, ForestBush3, ForestBush4, PathRight, PathHorizontal, PathTop, PathLeft, PathTopRight, PathTopLeft, PathTopHorizontal, PathBottomHorizontal, ] ),
        ( Right, [ Empty, ForestTree2, ForestTree3, ForestTree4, ForestTree5, ForestBush1, ForestBush2, ForestBush3, ForestBush4, PathRight, PathVertical, PathBottom, PathTop, PathTopRight, PathBottomRight, PathLeftVertical, PathRightVertical, ] ),
        ( Bottom, [ Empty, ForestTree2, ForestTree3, ForestTree4, ForestTree5, ForestBush1, ForestBush2, ForestBush3, ForestBush4, PathRight, PathHorizontal, PathBottom, PathLeft, PathBottomRight, PathBottomLeft, PathBottomHorizontal, ] ),
        ( Left, [ Empty, ForestTree2, ForestTree3, ForestTree4, ForestTree5, ForestBush1, ForestBush2, ForestBush3, ForestBush4, PathVertical, PathBottom, PathTop, PathLeft, PathTopLeft, PathBottomLeft, PathLeftVertical, ] ),
      ]
    ),
    (
      index: 2,
      name: ForestTree2,
      weight: 100,
      permitted_neighbours: [
        ( Top, [ Empty, ForestTree1, ForestTree3, ForestTree4, ForestTree5, ForestBush1, ForestBush2, ForestBush3, ForestBush4, PathRight, PathHorizontal, PathTop, PathLeft, PathTopRight, PathTopLeft, PathTopHorizontal, PathBottomHorizontal, ] ),
        ( Right, [ Empty, ForestTree1, ForestTree3, ForestTree4, ForestTree5, ForestBush1, ForestBush2, ForestBush3, ForestBush4, PathRight, PathVertical, PathBottom, PathTop, PathTopRight, PathBottomRight, PathLeftVertical, PathRightVertical, ] ),
        ( Bottom, [ Empty, ForestTree1, ForestTree3, ForestTree4, ForestTree5, ForestBush1, ForestBush2, ForestBush3, ForestBush4, PathRight, PathHorizontal, PathBottom, PathLeft, PathBottomRight, PathBottomLeft, PathBottomHorizontal, ] ),
        ( Left, [ Empty, ForestTree1, ForestTree3, ForestTree4, ForestTree5, ForestBush1, ForestBush2, ForestBush3, ForestBush4, PathVertical, PathBottom, PathTop, PathLeft, PathTopLeft, PathBottomLeft, PathLeftVertical, ] ),
      ]
    ),
    (
      index: 3,
      name: ForestTree3,
      weight: 100,
      permitted_neighbours: [
        ( Top, [ Empty, ForestTree2, ForestTree1, ForestTree4, ForestTree5, ForestBush1, ForestBush2, ForestBush3, ForestBush4, PathRight, PathHorizontal, PathTop, PathLeft, PathTopRight, PathTopLeft, PathTopHorizontal, PathBottomHorizontal, ] ),
        ( Right, [ Empty, ForestTree2, ForestTree1, ForestTree4, ForestTree5, ForestBush1, ForestBush2, ForestBush3, ForestBush4, PathRight, PathVertical, PathBottom, PathTop, PathTopRight, PathBottomRight, PathLeftVertical, PathRightVertical, ] ),
        ( Bottom, [ Empty, ForestTree2, ForestTree1, ForestTree4, ForestTree5, ForestBush1, ForestBush2, ForestBush3, ForestBush4, PathRight, PathHorizontal, PathBottom, PathLeft, PathBottomRight, PathBottomLeft, PathBottomHorizontal, ] ),
        ( Left, [ Empty, ForestTree2, ForestTree1, ForestTree4, ForestTree5, ForestBush1, ForestBush2, ForestBush3, ForestBush4, PathVertical, PathBottom, PathTop, PathLeft, PathTopLeft, PathBottomLeft, PathLeftVertical, ] ),
      ]
    ),
    (
      index: 4,
      name: ForestTree4,
      weight: 100,
      permitted_neighbours: [
        ( Top, [ Empty, ForestTree2, ForestTree1, ForestTree3, ForestTree5, ForestBush1, ForestBush2, ForestBush3, ForestBush4, PathRight, PathHorizontal, PathTop, PathLeft, PathTopRight, PathTopLeft, PathTopHorizontal, PathBottomHorizontal, ] ),
        ( Right, [ Empty, ForestTree2, ForestTree1, ForestTree3, ForestTree5, ForestBush1, ForestBush2, ForestBush3, ForestBush4, PathRight, PathVertical, PathBottom, PathTop, PathTopRight, PathBottomRight, PathLeftVertical, PathRightVertical, ] ),
        ( Bottom, [ Empty, ForestTree2, ForestTree1, ForestTree3, ForestTree5, ForestBush1, ForestBush2, ForestBush3, ForestBush4, PathRight, PathHorizontal, PathBottom, PathLeft, PathBottomRight, PathBottomLeft, PathBottomHorizontal, ] ),
        ( Left, [ Empty, ForestTree2, ForestTree1, ForestTree3, ForestTree5, ForestBush1, ForestBush2, ForestBush3, ForestBush4, PathVertical, PathBottom, PathTop, PathLeft, PathTopLeft, PathBottomLeft, PathLeftVertical, ] ),
      ]
    ),
    (
      index: 5,
      name: ForestTree5,
      weight: 100,
      permitted_neighbours: [
        ( Top, [ Empty, ForestTree2, ForestTree1, ForestTree3, ForestTree4, ForestBush2, ForestBush3, ForestBush4, PathRight, PathHorizontal, PathTop, PathLeft, PathTopRight, PathTopLeft, PathTopHorizontal, PathBottomHorizontal, ] ),
        ( Right, [ Empty, ForestTree2, ForestTree1, ForestTree3, ForestTree4, ForestBush2, ForestBush3, ForestBush4, PathRight, PathVertical, PathBottom, PathTop, PathTopRight, PathBottomRight, PathLeftVertical, PathRightVertical, ] ),
        ( Bottom, [ Empty, ForestTree2, ForestTree1, ForestTree3, ForestTree4, ForestBush2, ForestBush3, ForestBush4, PathRight, PathHorizontal, PathBottom, PathLeft, PathBottomRight, PathBottomLeft, PathBottomHorizontal, ] ),
        ( Left, [ Empty, ForestTree2, ForestTree1, ForestTree3, ForestTree4, ForestBush2, ForestBush3, ForestBush4, PathVertical, PathBottom, PathTop, PathLeft, PathTopLeft, PathBottomLeft, PathLeftVertical, ] ),
      ]
    ),
  ]
)