(
  terrain: Land2,
  states: [
    (
      index: 1,
      name: Land2RubbleRight,
      weight: 3,
      permitted_neighbours: [
        ( Top, [ Empty ] ),
        ( Left, [ Empty ] ),
        (
          Right,
          [
            Land2RubbleLeft,
            Land2RubbleHorizontal,
            Land2RubbleHorizontalLand3Right,
            Land3RuinHorizontalLand2Left,
            Land2RubbleCross,
          ]
        ),
        ( Bottom, [ Empty ] ),
      ]
    ),
    (
      index: 2,
      name: Land2RubbleHorizontal,
      weight: 10,
      permitted_neighbours: [
        ( Top, [ Empty ] ),
        (
          Left,
          [
            Land2RubbleRight,
            Land2RubbleHorizontal,
            Land2RubbleHorizontalLand3Left,
            Land3RuinHorizontalLand2Right,
            Land2RubbleCross,
          ]
        ),
        (
          Right,
          [
            Land2RubbleLeft,
            Land2RubbleHorizontal,
            Land2RubbleHorizontalLand3Right,
            Land3RuinHorizontalLand2Left,
            Land2RubbleCross,
          ]
        ),
        ( Bottom, [ Empty ] ),
      ]
    ),
    (
      index: 3,
      name: Land2RubbleCross,
      weight: 10,
      permitted_neighbours: [
        (
          Top,
          [
            Land2RubbleBottom,
            Land2RubbleVertical,
            Land2RubbleVerticalLand3Top,
            Land3RuinVerticalLand2Bottom,
          ]
        ),
        (
          Left,
          [
            Land2RubbleRight,
            Land2RubbleHorizontal,
            Land2RubbleHorizontalLand3Left,
            Land3RuinHorizontalLand2Right,
          ]
        ),
        (
          Right,
          [
            Land2RubbleLeft,
            Land2RubbleHorizontal,
            Land2RubbleHorizontalLand3Right,
            Land3RuinHorizontalLand2Left,
          ]
        ),
        (
          Bottom,
          [
            Land2RubbleTop,
            Land2RubbleVertical,
            Land2RubbleVerticalLand3Bottom,
            Land3RuinVerticalLand2Top,
          ]
        ),
      ]
    ),
    (
      index: 4,
      name: Land2RubbleVertical,
      weight: 10,
      permitted_neighbours: [
        (
          Top,
          [
            Land2RubbleVertical,
            Land2RubbleVerticalLand3Top,
            Land3RuinVerticalLand2Bottom,
            Land2RubbleBottom,
            Land2RubbleCross,
          ]
        ),
        ( Left, [ Empty ] ),
        ( Right, [ Empty ] ),
        (
          Bottom,
          [
            Land2RubbleVertical,
            Land2RubbleVerticalLand3Bottom,
            Land3RuinVerticalLand2Top,
            Land2RubbleTop,
            Land2RubbleCross,
          ]
        ),
      ]
    ),
    (
      index: 5,
      name: Land2RubbleBottom,
      weight: 3,
      permitted_neighbours: [
        ( Top, [ Empty ] ),
        ( Left, [ Empty ] ),
        ( Right, [ Empty ] ),
        (
          Bottom,
          [
            Land2RubbleCross,
            Land2RubbleVertical,
            Land2RubbleVerticalLand3Bottom,
            Land3RuinVerticalLand2Top,
            Land2RubbleTop,
          ]
        ),
      ]
    ),
    (
      index: 6,
      name: Land2RubbleTop,
      weight: 3,
      permitted_neighbours: [
        (
          Top,
          [
            Land2RubbleCross,
            Land2RubbleVertical,
            Land2RubbleVerticalLand3Top,
            Land3RuinVerticalLand2Bottom,
            Land2RubbleBottom,
          ]
        ),
        ( Left, [ Empty ] ),
        ( Right, [ Empty ] ),
        ( Bottom, [ Empty ] ),
      ]
    ),
    (
      index: 7,
      name: Land2RubbleLeft,
      weight: 3,
      permitted_neighbours: [
        ( Top, [ Empty ] ),
        (
          Left,
          [
            Land2RubbleRight,
            Land2RubbleHorizontal,
            Land2RubbleHorizontalLand3Left,
            Land3RuinHorizontalLand2Right,
            Land2RubbleCross,
          ]
        ),
        ( Right, [ Empty ] ),
        ( Bottom, [ Empty ] ),
      ]
    ),
    (
      index: 8,
      name: Land2RubbleHorizontalLand3Right,
      weight: 10,
      permitted_neighbours: [
        ( Top, [ Empty ] ),
        (
          Left,
          [
            Land2RubbleRight,
            Land2RubbleHorizontal,
            Land2RubbleCross,
          ]
        ),
        (
          Right,
          [
            Land3RuinLeft,
            Land3RuinHorizontal,
            Land3RuinCross,
          ]
        ),
        ( Bottom, [ Empty ] ),
      ]
    ),
    (
      index: 9,
      name: Land2RubbleHorizontalLand3Left,
      weight: 10,
      permitted_neighbours: [
        ( Top, [ Empty ]  ),
        (
          Left,
          [
            Land3RuinRight,
            Land3RuinHorizontal,
            Land3RuinCross,
          ]
        ),
        (
          Right,
          [
            Land2RubbleLeft,
            Land2RubbleHorizontal,
            Land2RubbleCross,
          ]
        ),
        ( Bottom, [ Empty ] ),
      ]
    ),
    (
      index: 10,
      name: Land2RubbleVerticalLand3Top,
      weight: 10,
      permitted_neighbours: [
        (
          Top,
          [
            Land3RuinVertical,
            Land3RuinBottom,
            Land3RuinCross,
          ]
        ),
        ( Left, [ Empty ] ),
        ( Right, [ Empty ] ),
        (
          Bottom,
          [
            Land2RubbleVertical,
            Land2RubbleTop,
            Land2RubbleCross,
          ]
        ),
      ]
    ),
    (
      index: 11,
      name: Land2RubbleVerticalLand3Bottom,
      weight: 10,
      permitted_neighbours: [
        (
          Top,
          [
            Land2RubbleVertical,
            Land2RubbleBottom,
            Land2RubbleCross,
          ]
        ),
        ( Left, [ Empty ] ),
        ( Right, [ Empty ] ),
        (
          Bottom,
          [
            Land3RuinVertical,
            Land3RuinTop,
            Land3RuinCross,
          ]
        ),
      ]
    ),
    (
      index: 16,
      name: Land2IndividualObject1,
      weight: 10,
      permitted_neighbours: [
        ( Top, [ Empty, PathRight, PathHorizontal, PathTop, PathLeft, PathTopRight, PathTopLeft, PathTopHorizontal, PathBottomHorizontal, ] ),
        ( Left, [ Empty, PathRight, PathVertical, PathBottom, PathTop, PathTopRight, PathBottomRight, PathLeftVertical, PathRightVertical, ] ),
        ( Right, [ Empty, PathRight, PathHorizontal, PathBottom, PathLeft, PathBottomRight, PathBottomLeft, PathBottomHorizontal, ] ),
        ( Bottom, [ Empty, PathVertical, PathBottom, PathTop, PathLeft, PathTopLeft, PathBottomLeft, PathLeftVertical, ] ),
      ]
    ),
    (
      index: 17,
      name: Land2IndividualObject2,
      weight: 10,
      permitted_neighbours: [
        ( Top, [ Empty, PathRight, PathHorizontal, PathTop, PathLeft, PathTopRight, PathTopLeft, PathTopHorizontal, PathBottomHorizontal, ] ),
        ( Left, [ Empty, PathRight, PathVertical, PathBottom, PathTop, PathTopRight, PathBottomRight, PathLeftVertical, PathRightVertical, ] ),
        ( Right, [ Empty, PathRight, PathHorizontal, PathBottom, PathLeft, PathBottomRight, PathBottomLeft, PathBottomHorizontal, ] ),
        ( Bottom, [ Empty, PathVertical, PathBottom, PathTop, PathLeft, PathTopLeft, PathBottomLeft, PathLeftVertical, ] ),
      ]
    ),
    (
      index: 18,
      name: Land2IndividualObject3,
      weight: 10,
      permitted_neighbours: [
        ( Top, [ Empty, PathRight, PathHorizontal, PathTop, PathLeft, PathTopRight, PathTopLeft, PathTopHorizontal, PathBottomHorizontal, ] ),
        ( Left, [ Empty, PathRight, PathVertical, PathBottom, PathTop, PathTopRight, PathBottomRight, PathLeftVertical, PathRightVertical, ] ),
        ( Right, [ Empty, PathRight, PathHorizontal, PathBottom, PathLeft, PathBottomRight, PathBottomLeft, PathBottomHorizontal, ] ),
        ( Bottom, [ Empty, PathVertical, PathBottom, PathTop, PathLeft, PathTopLeft, PathBottomLeft, PathLeftVertical, ] ),
      ]
    ),
    (
      index: 19,
      name: Land2IndividualObject4,
      weight: 10,
      permitted_neighbours: [
        ( Top, [ Empty, PathRight, PathHorizontal, PathTop, PathLeft, PathTopRight, PathTopLeft, PathTopHorizontal, PathBottomHorizontal, ] ),
        ( Left, [ Empty, PathRight, PathVertical, PathBottom, PathTop, PathTopRight, PathBottomRight, PathLeftVertical, PathRightVertical, ] ),
        ( Right, [ Empty, PathRight, PathHorizontal, PathBottom, PathLeft, PathBottomRight, PathBottomLeft, PathBottomHorizontal, ] ),
        ( Bottom, [ Empty, PathVertical, PathBottom, PathTop, PathLeft, PathTopLeft, PathBottomLeft, PathLeftVertical, ] ),
      ]
    ),
    (
      index: 20,
      name: Land2IndividualObject5,
      weight: 10,
      permitted_neighbours: [
        ( Top, [ Empty, PathRight, PathHorizontal, PathTop, PathLeft, PathTopRight, PathTopLeft, PathTopHorizontal, PathBottomHorizontal, ] ),
        ( Left, [ Empty, PathRight, PathVertical, PathBottom, PathTop, PathTopRight, PathBottomRight, PathLeftVertical, PathRightVertical, ] ),
        ( Right, [ Empty, PathRight, PathHorizontal, PathBottom, PathLeft, PathBottomRight, PathBottomLeft, PathBottomHorizontal, ] ),
        ( Bottom, [ Empty, PathVertical, PathBottom, PathTop, PathLeft, PathTopLeft, PathBottomLeft, PathLeftVertical, ] ),
      ]
    ),
    (
      index: 21,
      name: Land2IndividualObject6,
      weight: 10,
      permitted_neighbours: [
        ( Top, [ Empty, PathRight, PathHorizontal, PathTop, PathLeft, PathTopRight, PathTopLeft, PathTopHorizontal, PathBottomHorizontal, ] ),
        ( Left, [ Empty, PathRight, PathVertical, PathBottom, PathTop, PathTopRight, PathBottomRight, PathLeftVertical, PathRightVertical, ] ),
        ( Right, [ Empty, PathRight, PathHorizontal, PathBottom, PathLeft, PathBottomRight, PathBottomLeft, PathBottomHorizontal, ] ),
        ( Bottom, [ Empty, PathVertical, PathBottom, PathTop, PathLeft, PathTopLeft, PathBottomLeft, PathLeftVertical, ] ),
      ]
    ),
    (
      index: 22,
      name: Land2IndividualObject7,
      weight: 10,
      permitted_neighbours: [
        ( Top, [ Empty, PathRight, PathHorizontal, PathTop, PathLeft, PathTopRight, PathTopLeft, PathTopHorizontal, PathBottomHorizontal, ] ),
        ( Left, [ Empty, PathRight, PathVertical, PathBottom, PathTop, PathTopRight, PathBottomRight, PathLeftVertical, PathRightVertical, ] ),
        ( Right, [ Empty, PathRight, PathHorizontal, PathBottom, PathLeft, PathBottomRight, PathBottomLeft, PathBottomHorizontal, ] ),
        ( Bottom, [ Empty, PathVertical, PathBottom, PathTop, PathLeft, PathTopLeft, PathBottomLeft, PathLeftVertical, ] ),
      ]
    ),
  ]
)