(
  terrain: Land2,
  states: [
    (
      index: 1,
      name: GrassRubbleRight,
      weight: 3,
      permitted_neighbours: [
        ( Top, [ Empty ] ),
        ( Left, [ Empty ] ),
        (
          Right,
          [
            GrassRubbleLeft,
            GrassRubbleHorizontal,
            GrassRubbleHorizontalForestRight,
            ForestRuinHorizontalGrassLeft,
            GrassRubbleCross,
          ]
        ),
        ( Bottom, [ Empty ] ),
      ]
    ),
    (
      index: 2,
      name: GrassRubbleHorizontal,
      weight: 10,
      permitted_neighbours: [
        ( Top, [ Empty ] ),
        (
          Left,
          [
            GrassRubbleRight,
            GrassRubbleHorizontal,
            GrassRubbleHorizontalForestLeft,
            ForestRuinHorizontalGrassRight,
            GrassRubbleCross,
          ]
        ),
        (
          Right,
          [
            GrassRubbleLeft,
            GrassRubbleHorizontal,
            GrassRubbleHorizontalForestRight,
            ForestRuinHorizontalGrassLeft,
            GrassRubbleCross,
          ]
        ),
        ( Bottom, [ Empty ] ),
      ]
    ),
    (
      index: 3,
      name: GrassRubbleCross,
      weight: 10,
      permitted_neighbours: [
        (
          Top,
          [
            GrassRubbleBottom,
            GrassRubbleVertical,
            GrassRubbleVerticalForestTop,
            ForestRuinVerticalGrassBottom,
          ]
        ),
        (
          Left,
          [
            GrassRubbleRight,
            GrassRubbleHorizontal,
            GrassRubbleHorizontalForestLeft,
            ForestRuinHorizontalGrassRight,
          ]
        ),
        (
          Right,
          [
            GrassRubbleLeft,
            GrassRubbleHorizontal,
            GrassRubbleHorizontalForestRight,
            ForestRuinHorizontalGrassLeft,
          ]
        ),
        (
          Bottom,
          [
            GrassRubbleTop,
            GrassRubbleVertical,
            GrassRubbleVerticalForestBottom,
            ForestRuinVerticalGrassTop,
          ]
        ),
      ]
    ),
    (
      index: 4,
      name: GrassRubbleVertical,
      weight: 10,
      permitted_neighbours: [
        (
          Top,
          [
            GrassRubbleVertical,
            GrassRubbleVerticalForestTop,
            ForestRuinVerticalGrassBottom,
            GrassRubbleBottom,
            GrassRubbleCross,
          ]
        ),
        ( Left, [ Empty ] ),
        ( Right, [ Empty ] ),
        (
          Bottom,
          [
            GrassRubbleVertical,
            GrassRubbleVerticalForestBottom,
            ForestRuinVerticalGrassTop,
            GrassRubbleTop,
            GrassRubbleCross,
          ]
        ),
      ]
    ),
    (
      index: 5,
      name: GrassRubbleBottom,
      weight: 3,
      permitted_neighbours: [
        ( Top, [ Empty ] ),
        ( Left, [ Empty ] ),
        ( Right, [ Empty ] ),
        (
          Bottom,
          [
            GrassRubbleCross,
            GrassRubbleVertical,
            GrassRubbleVerticalForestBottom,
            ForestRuinVerticalGrassTop,
            GrassRubbleTop,
          ]
        ),
      ]
    ),
    (
      index: 6,
      name: GrassRubbleTop,
      weight: 3,
      permitted_neighbours: [
        (
          Top,
          [
            GrassRubbleCross,
            GrassRubbleVertical,
            GrassRubbleVerticalForestTop,
            ForestRuinVerticalGrassBottom,
            GrassRubbleBottom,
          ]
        ),
        ( Left, [ Empty ] ),
        ( Right, [ Empty ] ),
        ( Bottom, [ Empty ] ),
      ]
    ),
    (
      index: 7,
      name: GrassRubbleLeft,
      weight: 3,
      permitted_neighbours: [
        ( Top, [ Empty ] ),
        (
          Left,
          [
            GrassRubbleRight,
            GrassRubbleHorizontal,
            GrassRubbleHorizontalForestLeft,
            ForestRuinHorizontalGrassRight,
            GrassRubbleCross,
          ]
        ),
        ( Right, [ Empty ] ),
        ( Bottom, [ Empty ] ),
      ]
    ),
    (
      index: 8,
      name: GrassRubbleHorizontalForestRight,
      weight: 10,
      permitted_neighbours: [
        ( Top, [ Empty ] ),
        (
          Left,
          [
            GrassRubbleRight,
            GrassRubbleHorizontal,
            GrassRubbleCross,
          ]
        ),
        (
          Right,
          [
            ForestRuinLeft,
            ForestRuinHorizontal,
            ForestRuinCross,
          ]
        ),
        ( Bottom, [ Empty ] ),
      ]
    ),
    (
      index: 9,
      name: GrassRubbleHorizontalForestLeft,
      weight: 10,
      permitted_neighbours: [
        ( Top, [ Empty ]  ),
        (
          Left,
          [
            ForestRuinRight,
            ForestRuinHorizontal,
            ForestRuinCross,
          ]
        ),
        (
          Right,
          [
            GrassRubbleLeft,
            GrassRubbleHorizontal,
            GrassRubbleCross,
          ]
        ),
        ( Bottom, [ Empty ] ),
      ]
    ),
    (
      index: 10,
      name: GrassRubbleVerticalForestTop,
      weight: 10,
      permitted_neighbours: [
        (
          Top,
          [
            ForestRuinVertical,
            ForestRuinBottom,
            ForestRuinCross,
          ]
        ),
        ( Left, [ Empty ] ),
        ( Right, [ Empty ] ),
        (
          Bottom,
          [
            GrassRubbleVertical,
            GrassRubbleTop,
            GrassRubbleCross,
          ]
        ),
      ]
    ),
    (
      index: 11,
      name: GrassRubbleVerticalForestBottom,
      weight: 10,
      permitted_neighbours: [
        (
          Top,
          [
            GrassRubbleVertical,
            GrassRubbleBottom,
            GrassRubbleCross,
          ]
        ),
        ( Left, [ Empty ] ),
        ( Right, [ Empty ] ),
        (
          Bottom,
          [
            ForestRuinVertical,
            ForestRuinTop,
            ForestRuinCross,
          ]
        ),
      ]
    ),
    (
      index: 16,
      name: GrassBush1,
      weight: 10,
      permitted_neighbours: [
        ( Top, [ Empty ] ),
        ( Left, [ Empty ] ),
        ( Right, [ Empty ] ),
        ( Bottom, [ Empty ] ),
      ]
    ),
    (
      index: 17,
      name: GrassBush2,
      weight: 10,
      permitted_neighbours: [
        ( Top, [ Empty ] ),
        ( Left, [ Empty ] ),
        ( Right, [ Empty ] ),
        ( Bottom, [ Empty ] ),
      ]
    ),
    (
      index: 18,
      name: GrassBush3,
      weight: 10,
      permitted_neighbours: [
        ( Top, [ Empty ] ),
        ( Left, [ Empty ] ),
        ( Right, [ Empty ] ),
        ( Bottom, [ Empty ] ),
      ]
    ),
    (
      index: 19,
      name: GrassBush4,
      weight: 10,
      permitted_neighbours: [
        ( Top, [ Empty ] ),
        ( Left, [ Empty ] ),
        ( Right, [ Empty ] ),
        ( Bottom, [ Empty ] ),
      ]
    ),
    (
      index: 20,
      name: GrassFlower1,
      weight: 10,
      permitted_neighbours: [
        ( Top, [ Empty ] ),
        ( Left, [ Empty ] ),
        ( Right, [ Empty ] ),
        ( Bottom, [ Empty ] ),
      ]
    ),
    (
      index: 21,
      name: GrassFlower2,
      weight: 10,
      permitted_neighbours: [
        ( Top, [ Empty ] ),
        ( Left, [ Empty ] ),
        ( Right, [ Empty ] ),
        ( Bottom, [ Empty ] ),
      ]
    ),
    (
      index: 22,
      name: GrassFlower3,
      weight: 10,
      permitted_neighbours: [
        ( Top, [ Empty ] ),
        ( Left, [ Empty ] ),
        ( Right, [ Empty ] ),
        ( Bottom, [ Empty ] ),
      ]
    ),
  ]
)