(
  terrain: Sand,
  states: [
    (
      index: 1,
      name: SandPathRight,
      weight: 3,
      permitted_neighbours: [
        ( Top, [ Empty ] ),
        ( Left, [ Empty ] ),
        (
          Right,
          [
            SandPathLeft,
            SandPathHorizontal,
            SandPathCross,
          ]
        ),
        ( Bottom, [ Empty ] ),
      ]
    ),
    (
      index: 2,
      name: SandPathHorizontal,
      weight: 10,
      permitted_neighbours: [
        ( Top, [ Empty ] ),
        (
          Left,
          [
            SandPathRight,
            SandPathHorizontal,
            SandPathCross,
          ]
        ),
        (
          Right,
          [
            SandPathLeft,
            SandPathHorizontal,
            SandPathCross,
          ]
        ),
        ( Bottom, [ Empty ] ),
      ]
    ),
    (
      index: 3,
      name: SandPathCross,
      weight: 10,
      permitted_neighbours: [
        (
          Top,
          [
            SandPathBottom,
            SandPathVertical,
          ]
        ),
        (
          Left,
          [
            SandPathRight,
            SandPathHorizontal,
          ]
        ),
        (
          Right,
          [
            SandPathLeft,
            SandPathHorizontal,
          ]
        ),
        (
          Bottom,
          [
            SandPathTop,
            SandPathVertical,
          ]
        ),
      ]
    ),
    (
      index: 4,
      name: SandPathVertical,
      weight: 10,
      permitted_neighbours: [
        (
          Top,
          [
            SandPathVertical,
            SandPathBottom,
            SandPathCross,
          ]
        ),
        ( Left, [ Empty ] ),
        ( Right, [ Empty ] ),
        (
          Bottom,
          [
            SandPathVertical,
            SandPathTop,
            SandPathCross,
          ]
        ),
      ]
    ),
    (
      index: 5,
      name: SandPathBottom,
      weight: 3,
      permitted_neighbours: [
        ( Top, [ Empty ] ),
        ( Left, [ Empty ] ),
        ( Right, [ Empty ] ),
        (
          Bottom,
          [
            SandPathCross,
            SandPathVertical,
            SandPathTop,
          ]
        ),
      ]
    ),
    (
      index: 6,
      name: SandPathTop,
      weight: 3,
      permitted_neighbours: [
        (
          Top,
          [
            SandPathCross,
            SandPathVertical,
            SandPathBottom,
          ]
        ),
        ( Left, [ Empty ] ),
        ( Right, [ Empty ] ),
        ( Bottom, [ Empty ] ),
      ]
    ),
    (
      index: 7,
      name: SandPathLeft,
      weight: 3,
      permitted_neighbours: [
        ( Top, [ Empty ] ),
        (
          Left,
          [
            SandPathRight,
            SandPathHorizontal,
            SandPathCross,
          ]
        ),
        ( Right, [ Empty ] ),
        ( Bottom, [ Empty ] ),
      ]
    ),
    (
      index: 8,
      name: SandStoneTopFill1,
      weight: 50,
      permitted_neighbours: [
        ( Top, [ Empty ] ),
        ( Right, [ Empty, SandStoneTopFill1, SandStoneTopFill2, SandStoneTopLeftFill, SandStoneBottomLeftFill, ] ),
        ( Bottom, [ Empty ] ),
        ( Left, [ Empty, SandStoneTopFill1, SandStoneTopFill2, SandStoneTopRightFill, SandStoneBottomRightFill, ] ),
      ]
    ),
    (
      index: 9,
      name: SandStoneTopFill2,
      weight: 50,
      permitted_neighbours: [
        ( Top, [ Empty ] ),
        ( Right, [ Empty, SandStoneTopFill1, SandStoneTopFill2, SandStoneTopLeftFill, SandStoneBottomLeftFill, ] ),
        ( Bottom, [ Empty ] ),
        ( Left, [ Empty, SandStoneTopFill1, SandStoneTopFill2, SandStoneTopRightFill, SandStoneBottomRightFill, ] ),
      ]
    ),
    (
      index: 10,
      name: SandStoneTopRightFill,
      weight: 50,
      permitted_neighbours: [
        ( Top, [ Empty ] ),
        ( Right, [ Empty, SandStoneTopLeftFill, SandStoneTopFill1, SandStoneTopFill2, ] ),
        ( Bottom, [ Empty ] ),
        ( Left, [ Empty ] ),
      ]
    ),
    (
      index: 11,
      name: SandStoneTopLeftFill,
      weight: 50,
      permitted_neighbours: [
        ( Top, [ Empty, SandStoneLeftFill, ] ),
        ( Right, [ Empty, ] ),
        ( Bottom, [ Empty ] ),
        ( Left, [ Empty, SandStoneTopRightFill, SandStoneTopFill1, SandStoneTopFill2, ] ),
      ]
    ),
    (
      index: 12,
      name: SandStoneLeftFill,
      weight: 50,
      permitted_neighbours: [
        ( Top, [ Empty, SandStoneLeftFill, ] ),
        ( Right, [ Empty, ] ),
        ( Bottom, [ Empty, SandStoneLeftFill, SandStoneTopLeftFill, ] ),
        ( Left, [ Empty, ] ),
      ]
    ),
    (
      index: 13,
      name: SandStoneRightFill,
      weight: 50,
      permitted_neighbours: [
        ( Top, [ Empty, SandStoneRightFill, SandStoneBottomLeftFill, SandStoneBottomRightFill, ] ),
        ( Right, [ Empty, ] ),
        ( Bottom, [ Empty, SandStoneRightFill, SandStoneTopRightFill, SandStoneBottomLeftFill, ] ),
        ( Left, [ Empty, ] ),
      ]
    ),
    (
      index: 14,
      name: SandStoneBottomLeftFill,
      weight: 50,
      permitted_neighbours: [
        ( Top, [ Empty, ] ),
        ( Right, [ Empty, ] ),
        ( Bottom, [ Empty, SandStoneLeftFill, SandStoneTopLeftFill, ] ),
        ( Left, [ Empty, SandStoneBottomRightFill, ] ),
      ]
    ),
    (
      index: 15,
      name: SandStoneBottomRightFill,
      weight: 50,
      permitted_neighbours: [
        ( Top, [ Empty, ] ),
        ( Right, [ Empty, SandStoneBottomLeftFill, ] ),
        ( Bottom, [ Empty, SandStoneRightFill, SandStoneTopRightFill, ] ),
        ( Left, [ Empty, ] ),
      ]
    ),
    (
      index: 16,
      name: SandStone1,
      weight: 2,
      permitted_neighbours: [
        ( Top, [ Empty, SandPattern1, SandPattern2, SandPattern3, SandPattern4, SandPattern5, ] ),
        ( Left, [ Empty, SandPattern3, SandPattern4, SandPattern5, ] ),
        ( Right, [ Empty, SandPattern3, SandPattern4, SandPattern5, ] ),
        ( Bottom, [ Empty, SandPattern1, SandPattern2, SandPattern3, SandPattern4, SandPattern5, ] ),
      ]
    ),
    (
      index: 17,
      name: SandStone2,
      weight: 2,
      permitted_neighbours: [
        ( Top, [ Empty, SandPattern1, SandPattern2, SandPattern3, SandPattern4, SandPattern5, ] ),
        ( Left, [ Empty, SandPattern3, SandPattern4, SandPattern5, ] ),
        ( Right, [ Empty, SandPattern3, SandPattern4, SandPattern5, ] ),
        ( Bottom, [ Empty, SandPattern1, SandPattern2, SandPattern3, SandPattern4, SandPattern5, ] ),
      ]
    ),
    (
      index: 18,
      name: SandStone3,
      weight: 2,
      permitted_neighbours: [
        ( Top, [ Empty, SandPattern1, SandPattern2, SandPattern3, SandPattern4, SandPattern5, ] ),
        ( Left, [ Empty, SandPattern3, SandPattern4, SandPattern5, ] ),
        ( Right, [ Empty, SandPattern3, SandPattern4, SandPattern5, ] ),
        ( Bottom, [ Empty, SandPattern1, SandPattern2, SandPattern3, SandPattern4, SandPattern5, ] ),
      ]
    ),
    (
      index: 19,
      name: SandStone4,
      weight: 2,
      permitted_neighbours: [
        ( Top, [ Empty, SandPattern1, SandPattern2, SandPattern3, SandPattern4, SandPattern5, ] ),
        ( Left, [ Empty, SandPattern3, SandPattern4, SandPattern5, ] ),
        ( Right, [ Empty, SandPattern3, SandPattern4, SandPattern5, ] ),
        ( Bottom, [ Empty, SandPattern1, SandPattern2, SandPattern3, SandPattern4, SandPattern5, ] ),
      ]
    ),
    (
      index: 20,
      name: SandStone5,
      weight: 2,
      permitted_neighbours: [
        ( Top, [ Empty, SandPattern1, SandPattern2, SandPattern3, SandPattern4, SandPattern5, ] ),
        ( Left, [ Empty, SandPattern3, SandPattern4, SandPattern5, ] ),
        ( Right, [ Empty, SandPattern3, SandPattern4, SandPattern5, ] ),
        ( Bottom, [ Empty, SandPattern1, SandPattern2, SandPattern3, SandPattern4, SandPattern5, ] ),
      ]
    ),
    (
      index: 21,
      name: SandStone6,
      weight: 2,
      permitted_neighbours: [
        ( Top, [ Empty, SandPattern1, SandPattern2, SandPattern3, SandPattern4, SandPattern5, ] ),
        ( Left, [ Empty, SandPattern3, SandPattern4, SandPattern5, ] ),
        ( Right, [ Empty, SandPattern3, SandPattern4, SandPattern5, ] ),
        ( Bottom, [ Empty, SandPattern1, SandPattern2, SandPattern3, SandPattern4, SandPattern5, ] ),
      ]
    ),
    (
      index: 22,
      name: SandGrassPatch1,
      weight: 2,
      permitted_neighbours: [
        ( Top, [ Empty, SandPattern1, SandPattern2, SandPattern3, SandPattern4, SandPattern5, ] ),
        ( Left, [ Empty, SandPattern3, SandPattern4, SandPattern5, ] ),
        ( Right, [ Empty, SandPattern3, SandPattern4, SandPattern5, ] ),
        ( Bottom, [ Empty, SandPattern1, SandPattern2, SandPattern3, SandPattern4, SandPattern5, ] ),
      ]
    ),
    (
      index: 23,
      name: SandGrassPatch2,
      weight: 2,
      permitted_neighbours: [
        ( Top, [ Empty, SandPattern1, SandPattern2, SandPattern3, SandPattern4, SandPattern5, ] ),
        ( Left, [ Empty, SandPattern3, SandPattern4, SandPattern5, ] ),
        ( Right, [ Empty, SandPattern3, SandPattern4, SandPattern5, ] ),
        ( Bottom, [ Empty, SandPattern1, SandPattern2, SandPattern3, SandPattern4, SandPattern5, ] ),
      ]
    ),
    (
      index: 24,
      name: SandPattern1,
      weight: 10,
      permitted_neighbours: [
        ( Top, [ Empty, SandPattern1, SandPattern2, SandPattern3, SandPattern4, SandPattern5, SandStone1, SandStone2, SandStone4, SandStone6, SandGrassPatch1, SandGrassPatch2, ] ),
        ( Right, [ SandPattern2, SandPattern3, ] ),
        ( Bottom, [ Empty, SandPattern1, SandPattern2, SandPattern3, SandPattern4, SandPattern5, SandStone1, SandStone2, SandStone4, SandStone6, SandGrassPatch1, SandGrassPatch2, ] ),
        ( Left, [ Empty, SandPattern3, SandPattern4, SandPattern5, SandStone1, SandStone2, SandStone4, SandStone6, SandGrassPatch1, SandGrassPatch2, ] ),
      ]
    ),
    (
      index: 25,
      name: SandPattern2,
      weight: 2,
      permitted_neighbours: [
        ( Top, [ Empty, SandPattern1, SandPattern2, SandPattern3, SandPattern4, SandPattern5, SandStone1, SandStone2, SandStone4, SandStone6, SandGrassPatch1, SandGrassPatch2, ] ),
        ( Right, [ SandPattern3, ] ),
        ( Bottom, [ Empty, SandPattern1, SandPattern2, SandPattern3, SandPattern4, SandPattern5, SandStone1, SandStone2, SandStone4, SandStone6, SandGrassPatch1, SandGrassPatch2, ] ),
        ( Left, [ SandPattern1, ] ),
      ]
    ),
    (
      index: 26,
      name: SandPattern3,
      weight: 2,
      permitted_neighbours: [
        ( Top, [ Empty, SandPattern1, SandPattern2, SandPattern3, SandPattern4, SandPattern5, SandStone1, SandStone2, SandStone4, SandStone6, SandGrassPatch1, SandGrassPatch2, ] ),
        ( Right, [ Empty, SandPattern1, SandPattern4, SandPattern5, SandStone1, SandStone2, SandStone4, SandStone6, SandGrassPatch1, SandGrassPatch2, ] ),
        ( Bottom, [ Empty, SandPattern1, SandPattern2, SandPattern3, SandPattern4, SandPattern5, SandStone1, SandStone2, SandStone4, SandStone6, SandGrassPatch1, SandGrassPatch2, ] ),
        ( Left, [ SandPattern1, SandPattern2, ] ),
      ]
    ),
    (
      index: 27,
      name: SandPattern4,
      weight: 2,
      permitted_neighbours: [
        ( Top, [ Empty, SandPattern1, SandPattern2, SandPattern3, SandPattern4, SandPattern5, SandStone1, SandStone2, SandStone4, SandStone6, SandGrassPatch1, SandGrassPatch2, ] ),
        ( Right, [ Empty, SandPattern1, SandPattern5, SandStone1, SandStone2, SandStone4, SandStone6, SandGrassPatch1, SandGrassPatch2, ] ),
        ( Bottom, [ Empty, SandPattern1, SandPattern2, SandPattern3, SandPattern4, SandPattern5, SandStone1, SandStone2, SandStone4, SandStone6, SandGrassPatch1, SandGrassPatch2, ] ),
        ( Left, [ Empty, SandPattern1, SandPattern3, SandPattern5, SandStone1, SandStone2, SandStone4, SandStone6, SandGrassPatch1, SandGrassPatch2, ] ),
      ]
    ),
    (
      index: 28,
      name: SandPattern5,
      weight: 5,
      permitted_neighbours: [
        ( Top, [ Empty, SandPattern1, SandPattern2, SandPattern3, SandPattern4, SandPattern5, SandStone1, SandStone2, SandStone4, SandStone6, SandGrassPatch1, SandGrassPatch2, ] ),
        ( Right, [ Empty, SandPattern1, SandPattern2, SandPattern4, SandStone1, SandStone2, SandStone4, SandStone6, SandGrassPatch1, SandGrassPatch2, ] ),
        ( Bottom, [ Empty, SandPattern1, SandPattern2, SandPattern3, SandPattern4, SandPattern5, SandStone1, SandStone2, SandStone4, SandStone6, SandGrassPatch1, SandGrassPatch2, ] ),
        ( Left, [ Empty, SandPattern1, SandPattern3, SandPattern4, SandStone1, SandStone2, SandStone4, SandStone6, SandGrassPatch1, SandGrassPatch2, ] ),
      ]
    ),
  ]
)