(
  terrain: Sand,
  rules: [
    (
      index: 0,
      permitted_neighbours: [
        (1, 1.),
        (2, 1.),
        (3, 1.),
        (4, 1.),
        (5, 1.),
        (6, 1.),
        (7, 1.),
        (8, 1.),
        (9, 1.),
        (10, 1.),
        (11, 1.),
        (12, 1.),
        (13, 1.),
      ]
    ),
    (
      index: 1,
      permitted_neighbours: [
        (0, 1.),
      ]
    ),
    (
      index: 2,
      permitted_neighbours: [
        (0, 1.),
      ]
    ),
    (
      index: 3,
      permitted_neighbours: [
        (0, 1.),
      ]
    ),
    (
      index: 4,
      permitted_neighbours: [
        (0, 1.),
      ]
    ),
    (
      index: 5,
      permitted_neighbours: [
        (0, 1.),
      ]
    ),
    (
      index: 6,
      permitted_neighbours: [
        (0, 1.),
      ]
    ),
    (
      index: 7,
      permitted_neighbours: [
        (0, 1.),
      ]
    ),
    (
      index: 8,
      permitted_neighbours: [
        (0, 1.),
      ]
    ),
    (
      index: 9,
      permitted_neighbours: [
        (0, 1.),
      ]
    ),
    (
      index: 10,
      permitted_neighbours: [
        (0, 1.),
      ]
    ),
    (
      index: 11,
      permitted_neighbours: [
        (0, 1.),
        (12, 1.),
        (13, 1.),
      ]
    ),
    (
      index: 12,
      permitted_neighbours: [
        (0, 1.),
        (11, 1.),
        (12, 1.),
        (13, 1.),
      ]
    ),
    (
      index: 13,
      permitted_neighbours: [
        (0, 1.),
        (11, 1.),
        (12, 1.),
      ]
    ),
  ]
)