(
  terrain: Sand,
  states: [
    (
      index: 0,
      name: SandEmpty,
      permitted_neighbours: [
        (
          Top,
          [
            (SandEmpty, 2),
            (SandStone1, 1),
            (SandStone2, 1),
            (SandStone3, 1),
            (SandStone4, 1),
            (SandStone5, 1),
            (SandStone6, 1),
            (SandGrassPatch1, 1),
            (SandGrassPatch2, 1),
            (SandPattern1, 1),
            (SandPattern2, 1),
            (SandPattern3, 1),
            (SandPattern4, 1),
          ]
        ),
        (
          Left,
          [
            (SandEmpty, 2),
            (SandStone1, 1),
            (SandStone2, 1),
            (SandStone3, 1),
            (SandStone4, 1),
            (SandStone5, 1),
            (SandStone6, 1),
            (SandGrassPatch1, 1),
            (SandGrassPatch2, 1),
            (SandPattern1, 1),
            (SandPattern2, 1),
            (SandPattern3, 1),
            (SandPattern4, 1),
          ]
        ),
        (
          Right,
          [
            (SandEmpty, 2),
            (SandStone1, 1),
            (SandStone2, 1),
            (SandStone3, 1),
            (SandStone4, 1),
            (SandStone5, 1),
            (SandStone6, 1),
            (SandGrassPatch1, 1),
            (SandGrassPatch2, 1),
            (SandPattern1, 1),
            (SandPattern2, 1),
            (SandPattern3, 1),
            (SandPattern4, 1),
          ]
        ),
        (
          Bottom,
          [
            (SandEmpty, 2),
            (SandStone1, 1),
            (SandStone2, 1),
            (SandStone3, 1),
            (SandStone4, 1),
            (SandStone5, 1),
            (SandStone6, 1),
            (SandGrassPatch1, 1),
            (SandGrassPatch2, 1),
            (SandPattern1, 1),
            (SandPattern2, 1),
            (SandPattern3, 1),
            (SandPattern4, 1),
          ]
        ),
      ]
    ),
    (
      index: 1,
      name: SandStone1,
      permitted_neighbours: [
        (
          Top,
          [
            (SandEmpty, 2),
          ]
        ),
        (
          Left,
          [
            (SandEmpty, 2),
          ]
        ),
        (
          Right,
          [
            (SandEmpty, 2),
          ]
        ),
        (
          Bottom,
          [
            (SandEmpty, 2),
          ]
        ),
      ]
    ),
  ]
)
